<input
    name="data.page.selenim"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<div style="display:flex;flex-direction:row;padding-top:20px;">

    <div style="display:flex;flex-direction:column;width:50%;padding-top:20px;">

        {{> "systems/neph5e/templates/actor/parts/selenim/noyau.hbs"}}

    </div>

    <div style="display:flex;flex-direction:column;width:50%">

        {{#if (eq data.options.anamorphose true)}}
        {{> "systems/neph5e/templates/actor/parts/selenim/aspect.hbs"}}
        {{/if}}

    </div>

</div>