<input
    name="data.page.selenim"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<div style="position: relative; text-align: center;">

    <img src="systems/neph5e/assets/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

</div>

<div style="display:flex;flex-direction:row;padding-top:20px;">

    <div style="display:flex;flex-direction:column;width:500px;">

        {{> "systems/neph5e/templates/actor/parts/selenim/noyau.hbs"}}

    </div>

    <div style="display:flex;flex-direction:column;width:50%;margin-left:20px">

        {{> "systems/neph5e/templates/actor/parts/selenim/aspect.hbs"}}

        {{> "systems/neph5e/templates/actor/parts/nephilim/attributs.hbs"}}

    </div>

</div>