<li class="item" data-item-id="{{passe.refid}}" data-item-type="passe">

    {{#with (getItem passe.refid)}}
    <div class="item-name">
        <span data-item-id="{{passe.refid}}">{{name}}</span>
    </div>
    {{/with}}

    <label class="item-integer">{{passe.degre}}</label>

    <div class="item-control">
        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
    </div>

    <div class="item-control">
        <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    </div>

</li>