<form class="experience">

    <table>
        <tr>
            <th colspan="4">Table de coût de l’expérience</th>
        </tr>
        <tr>
            <td>Ancienne valeur</td>
            <td>Nouvelle valeur</td>
            <td>PS nécessaires (tout sauf Ka)</td>
            <td>PS nécessaires pour le Ka</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>20</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>3</td>
            <td>30</td>
        </tr>
        <tr>
            <td>3</td>
            <td>4</td>
            <td>4</td>
            <td>40</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>5</td>
            <td>50</td>
        </tr>
        <tr>
            <td>5</td>
            <td>6</td>
            <td>6</td>
            <td>60</td>
        </tr>
        <tr>
            <td>6</td>
            <td>7</td>
            <td>15</td>
            <td>70</td>
        </tr>
        <tr>
            <td>7</td>
            <td>8</td>
            <td>20</td>
            <td>80</td>
        </tr>
        <tr>
            <td>8</td>
            <td>9</td>
            <td>30</td>
            <td>90</td>
        </tr>
        <tr>
            <td>9</td>
            <td>10</td>
            <td>50</td>
            <td>100</td>
        </tr>
        <tr>
            <td>10</td>
            <td>11</td>
            <td>100</td>
            <td>200</td>
        </tr>
        <tr>
            <td>11</td>
            <td>12</td>
            <td>100</td>
            <td>300</td>
        </tr>
        <tr>
            <td>12</td>
            <td>12</td>
            <td>100</td>
            <td>400</td>
        </tr>
        <tr>
            <td>13</td>
            <td>12</td>
            <td>100</td>
            <td>500</td>
        </tr>
        <tr>
            <td>14</td>
            <td>12</td>
            <td>100</td>
            <td>600</td>
        </tr>
        <tr>
            <td>Etc.</td>
            <td>Etc.</td>
            <td>Etc.</td>
            <td>Etc.</td>
        </tr>
    </table>

</form>