<form class="recherche">

    <table>
        <tr>
            <th colspan="11">Tableau des degrés des pistes d’enquête occulte</th>
        </tr>
        <tr>
            <td>Valeur</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Degré</td>
            <td>Profane</td>
            <td>Néophyte</td>
            <td>Apprenti</td>
            <td>Acolyte</td>
            <td>Compagnon</td>
            <td>Initié</td>
            <td>Maître</td>
            <td>Sage</td>
            <td>Vénérable</td>
            <td>Figure</td>
            <td>Agarthien</td>
        </tr>
        <tr>
            <td>Durée</td>
            <td>Secondes</td>
            <td>Minutes</td>
            <td>Heures</td>
            <td>Jours</td>
            <td>Semaines</td>
            <td>Mois</td>
            <td>Années</td>
            <td>Décennies</td>
            <td>Siècles</td>
            <td>Millénaires</td>
            <td>Ères</td>
        </tr>
        <tr>
            <td>Exemple</td>
            <td>Rechercher AMORC sur Internet</td>
            <td>Rechercher l’histoire occulte d’Helena Blavatsky sur Internet</td>
            <td>Décrypter un texte en Enochéen</td>
            <td>Rechercher l’histoire occulte d’une famille connue</td>
            <td>Décoder un focus rédigé dans une langue inconnue</td>
            <td>Identifier les informations complètes d’une Invocation de kabbale décrite par un non initié</td>
            <td>Identifier un Akasha et trouver son entrée secrète</td>
            <td>Retrouver une stase légendaire aux mains des Arcanes Mineurs</td>
            <td>Identifier le Duc de SaintAmand</td>
            <td>Inventer un nouveau construct alchimique</td>
            <td>Localiser le Graal</td>
        </tr>

    </table>


</form>