<div class="arbre">

    <!-- Display the background image. -->
    <img src="systems/neph5e/assets/backgrounds/arbre.webp"/>

    <!-- Display the name and the degre of each sephiroth. -->
    {{#with (cercles actor 'kabbale') as |data|}}
    {{#each data.cercles as |cercle|}}
    <div class="sephiroth {{cercle.cercle}}">
        <span class="title">{{cercle.name}}</span>
        {{#if (gt cercle.degre 0)}}
        <span class="degre">{{cercle.degre}}</span>
        {{/if}}
    </div>
    {{/each}}
    {{/with}}

</div>