{{#with actor.ordonnances as |ordonnances|}}
<div class="ordonnances">

    <div class="header">

        <img class="circle"/>

        <img class="separator"/>

        <div class="degre">{{ordonnances.items.length}}</div>

        <div class="monde">{{ordonnances.monde}}</div>

    </div>

    <ol class="body">

        {{#each ordonnances.items as |item|}}
        <li class="ordonnance">

            <div class="title">

                <img class="pin"/>

                <div class="name">{{item.original.name}}</div>

            </div>

            <div class="description">{{html (enrichHTML item.original.description ../owner)}}</div>

        </li>
        {{/each}}

    </ol>

</div>
{{/with}}