.skin-air {
  --background: linear-gradient(rgba(255, 255, 255, 0), #ffffff), url("../../systems/neph5e/assets/skins/air/background.webp") repeat;
  --article-separator-margin-top: 0px;
  --font-color: #191813;
  --font-editor-color: #191813;
  --font-side-color: #191813;
  --font-side-selected-color: #a1a1a1;
  --shadow-navigation-color: black;
  --font-disabled-color: #a1a1a1;
  --font-article-title: -internal-light-dark(black, white);
  --column-color: #5dd5f3;
  --side-background: url("../../systems/neph5e/assets/skins/air/side-background.webp");
  --img-article-separator: url("../../systems/neph5e/assets/skins/air/article-separator.webp");
  --img-article-corner: url("../../systems/neph5e/assets/skins/air/article-corner.webp");
  --img-nef: url("../../systems/neph5e/assets/skins/air/boussole.webp");
  --img-circle: url("../../systems/neph5e/assets/skins/air/circle.webp");
  --img-barge: url("../../systems/neph5e/assets/skins/air/compas.webp");
  --img-corner: url("../../systems/neph5e/assets/skins/air/corner.webp");
  --img-hole: url("../../systems/neph5e/assets/skins/air/hole.webp");
  --img-losange: url("../../systems/neph5e/assets/skins/air/losange.webp");
  --img-pin: url("../../systems/neph5e/assets/skins/air/pin.webp");
  --img-puce: url("../../systems/neph5e/assets/skins/air/puce.webp");
  --img-separator: url("../../systems/neph5e/assets/skins/air/separator.webp");
  --img-triangle: url("../../systems/neph5e/assets/skins/air/triangle.webp");
  --incarnations-menu-first-color: #7ccff0;
  --incarnations-menu-second-color: #e2e0d2;
  --nephilim-margin-top: 0px;
  --nephilim-header-bottom: -12px;
  --nephilim-header-input-left: 13px;
  --nephilim-circle-width: 70px;
  --nephilim-circle-height: 65px;
  --nephilim-stase-margin-top: -2px;
  --nephilim-color-chute: indianred;
  --nephilim-left-dice: 0px;
  --nephilim-top-dice: 15px;
  --nephilim-left-element: 15px;
  --nephilim-top-element: 9px;
  --nephilim-width-circle: 94px;
  --nephilim-height-circle: 86px;
  --nephilim-top-air: 90px;
  --nephilim-left-air: 324px;
  --nephilim-top-eau: 296px;
  --nephilim-left-eau: 313px;
  --nephilim-top-feu: 7px;
  --nephilim-left-feu: 100px;
  --nephilim-top-lune: 354px;
  --nephilim-left-lune: 83px;
  --nephilim-top-terre: 175px;
  --nephilim-left-terre: -37px;
  --selenim-width-circle: 128px;
  --selenim-height-circle: 116px;
  --selenim-top-circle: -30px;
  --selenim-left-circle: -28px;
  --selenim-reserves-tooltip-top: -61px;
  --selenim-reserves-tooltip-left: -59px;
  --selenim-reserves-separator-top: -60px;
  --selenim-reserves-separator-left: -66px;
  --selenim-element-tooltip-top: 7px;
  --selenim-element-tooltip-left: 17px;
  --selenim-element-dice-top: 14px;
  --selenim-element-dice-left: 0px;
  --selenim-imago-width: 70px;
  --selenim-imago-height: 65px;
  --selenim-imago-top: 0px;
  --selenim-imago-left: 0px;
  --selenim-imago-bottom: -10px;
  --combat-header-bottom: -17px;
  --combat-carac-width: 48px;
  --combat-carac-input-width: 35px;
  --combat-carac-input-top: 10px;
  --combat-armures-bottom: -10px;
  --combat-dommages-circle-top: 76px;
  --combat-dommages-circle-width: 100px;
  --combat-dommages-circle-height: 90px;
  --combat-dommages-physique-left: calc(50% - 197px);
  --combat-dommages-magique-left: calc(50% + 159px);
  --combat-triangle-width: 200px;
  --combat-triangle-top: 10px;
  --combat-triangle-left: -70px;
  --combat-bonus-margin-top: 0px;
  --combat-bonus-losange-left: calc(50% - 49px);
  --combat-bonus-losange-top: 55px;
  --combat-bonus-losange-width: 120px;
  --combat-bonus-circle-width: 54px;
  --combat-bonus-circle-height: 51px;
  --combat-bonus-input-width: 28px;
  --combat-bonus-input-height: 35px;
  --combat-bonus-mouvement-top: calc(50% - -185px);
  --combat-bonus-mouvement-left: calc(50% - 31px);
  --combat-bonus-initiative-top: calc(50% - 3px);
  --combat-bonus-initiative-left: calc(50% - 31px);
  --combat-bonus-dommages-top: calc(50% - -91px);
  --combat-bonus-dommages-left: calc(50% - 120px);
  --combat-bonus-protection-top: calc(50% - -91px);
  --combat-bonus-protection-left: calc(50% - -57px);
  --options-body-margin-top: 0px;
  --options-body-margin-bottom: -10px;
  --akasha-circle-width: 65px;
  --akasha-nef-transform: translate(119px, 82px) rotate(0deg);
  --akasha-nef-width: 163px;
  --akasha-barge-transform: translate(116px, 100px) rotate(30deg);
  --akasha-barge-width: 160px;
  --akasha-input-transform: translate(-59px, -27px);
  --science-circle-width: 69px;
  --science-circle-height: 65px;
  --science-degre-left: 12px;
  --science-degre-top: 12px;
  --kabbale-arbre-color: #191813;
  --puce-top: 0px;
  --vecu-header-bottom: -10px;
  --laboratoire-labs-left: calc(50% + 215px);
  --laboratoire-circle-height: 51px;
  --laboratoire-circle-width: 52px;
  --laboratoire-air-top: -45px;
  --laboratoire-air-left: -32px;
  --laboratoire-eau-top: 45px;
  --laboratoire-eau-left: -145px;
  --laboratoire-feu-top: -145px;
  --laboratoire-feu-left: -213px;
  --laboratoire-lune-top: -57px;
  --laboratoire-lune-left: -8px;
  --laboratoire-terre-top: -175px;
  --laboratoire-terre-left: -75px;
  --laboratoire-athanor-top: 334px;
  --laboratoire-athanor-left: calc(50% - 69px);
  --laboratoire-alambic-top: 330px;
  --laboratoire-alambic-left: calc(50% - 31px);
  --laboratoire-aludel-top: 255px;
  --laboratoire-aludel-left: calc(50% - 32px);
  --laboratoire-cornue-top: 240px;
  --laboratoire-cornue-left: calc(50% - 275px);
  --laboratoire-creuset-top: 159px;
  --laboratoire-creuset-left: calc(50% - 245px);
  --materiae-air-top: 92px;
  --materiae-air-left: 341px;
  --materiae-eau-top: 298px;
  --materiae-eau-left: 334px;
  --materiae-feu-top: 7px;
  --materiae-feu-left: 115px;
  --materiae-lune-top: 361px;
  --materiae-lune-left: 95px;
  --materiae-terre-top: 179px;
  --materiae-terre-left: -23px;
  --materiae-circle-width: 105px;
  --materiae-circle-height: 90px;
  --materiae-circle-top: -31px;
  --materiae-circle-left: -34px;
  --materiae-input-top: 0px;
  --materiae-input-left: -17px;
  --materiae-maximum-top: 11px;
  --materiae-maximum-left: 14px;
  --soleil-circle-width: 90px;
  --soleil-circle-height: 83px;
  --soleil-tooltip-margin-top: 32px;
  --soleil-tooltip-margin-left: -48px;
  --color-scrollbar: #a1a1a1;
}
.skin-eau {
  --background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../../systems/neph5e/assets/skins/eau/background.webp") repeat;
  --article-separator-margin-top: 0px;
  --font-color: #0d273d;
  --font-editor-color: #191813;
  --font-side-color: #191813;
  --font-side-selected-color: #a1a1a1;
  --shadow-navigation-color: black;
  --font-disabled-color: #4c8ba9;
  --font-article-title: -internal-light-dark(black, white);
  --column-color: #5dd5f3;
  --side-background: url("../../systems/neph5e/assets/skins/eau/side-background.webp");
  --img-article-separator: url("../../systems/neph5e/assets/skins/eau/article-separator.webp");
  --img-article-corner: url("../../systems/neph5e/assets/skins/eau/article-corner.webp");
  --img-nef: url("../../systems/neph5e/assets/skins/eau/boussole.webp");
  --img-circle: url("../../systems/neph5e/assets/skins/eau/circle.webp");
  --img-barge: url("../../systems/neph5e/assets/skins/eau/compas.webp");
  --img-corner: url("../../systems/neph5e/assets/skins/eau/corner.webp");
  --img-hole: url("../../systems/neph5e/assets/skins/eau/hole.webp");
  --img-losange: url("../../systems/neph5e/assets/skins/eau/losange.webp");
  --img-pin: url("../../systems/neph5e/assets/skins/eau/pin.webp");
  --img-puce: url("../../systems/neph5e/assets/skins/eau/puce.webp");
  --img-separator: url("../../systems/neph5e/assets/skins/eau/separator.webp");
  --img-triangle: url("../../systems/neph5e/assets/skins/eau/triangle.webp");
  --incarnations-menu-first-color: #19a4db;
  --incarnations-menu-second-color: #e2e0d2;
  --nephilim-margin-top: 0px;
  --nephilim-header-bottom: -25px;
  --nephilim-header-input-left: 8px;
  --nephilim-circle-width: 60px;
  --nephilim-circle-height: 65px;
  --nephilim-stase-margin-top: -4px;
  --nephilim-color-chute: #501903;
  --nephilim-left-dice: -3px;
  --nephilim-top-dice: 10px;
  --nephilim-left-element: 13px;
  --nephilim-top-element: 4px;
  --nephilim-width-circle: 80px;
  --nephilim-height-circle: 85px;
  --nephilim-top-air: 92px;
  --nephilim-left-air: 329px;
  --nephilim-top-eau: 297px;
  --nephilim-left-eau: 321px;
  --nephilim-top-feu: 5px;
  --nephilim-left-feu: 114px;
  --nephilim-top-lune: 355px;
  --nephilim-left-lune: 97px;
  --nephilim-top-terre: 174px;
  --nephilim-left-terre: -23px;
  --selenim-width-circle: 115px;
  --selenim-height-circle: 115px;
  --selenim-top-circle: -25px;
  --selenim-left-circle: -25px;
  --selenim-reserves-tooltip-top: -61px;
  --selenim-reserves-tooltip-left: -59px;
  --selenim-reserves-separator-top: -60px;
  --selenim-reserves-separator-left: -66px;
  --selenim-element-tooltip-top: 4px;
  --selenim-element-tooltip-left: 13px;
  --selenim-element-dice-top: 10px;
  --selenim-element-dice-left: -3px;
  --selenim-imago-width: 60px;
  --selenim-imago-height: 65px;
  --selenim-imago-top: 0px;
  --selenim-imago-left: 0px;
  --selenim-imago-bottom: -10px;
  --combat-header-bottom: -30px;
  --combat-carac-width: 48px;
  --combat-carac-input-width: 35px;
  --combat-carac-input-top: 10px;
  --combat-armures-bottom: -30px;
  --combat-dommages-circle-top: 79px;
  --combat-dommages-circle-width: 85px;
  --combat-dommages-circle-height: 87px;
  --combat-dommages-physique-left: calc(50% - 193px);
  --combat-dommages-magique-left: calc(50% + 163px);
  --combat-triangle-width: 223px;
  --combat-triangle-top: -17px;
  --combat-triangle-left: -74px;
  --combat-bonus-margin-top: 0px;
  --combat-bonus-losange-left: calc(50% - 36px);
  --combat-bonus-losange-top: 55px;
  --combat-bonus-losange-width: 90px;
  --combat-bonus-circle-width: 48px;
  --combat-bonus-circle-height: 51px;
  --combat-bonus-input-width: 35px;
  --combat-bonus-input-height: 35px;
  --combat-bonus-mouvement-top: calc(50% - -185px);
  --combat-bonus-mouvement-left: calc(50% - 31px);
  --combat-bonus-initiative-top: calc(50% - 3px);
  --combat-bonus-initiative-left: calc(50% - 31px);
  --combat-bonus-dommages-top: calc(50% - -91px);
  --combat-bonus-dommages-left: calc(50% - 120px);
  --combat-bonus-protection-top: calc(50% - -91px);
  --combat-bonus-protection-left: calc(50% - -57px);
  --options-body-margin-top: -31px;
  --options-body-margin-bottom: -10px;
  --akasha-circle-width: 60px;
  --akasha-nef-transform: translate(123px, 127px) rotate(14deg);
  --akasha-nef-width: 154px;
  --akasha-barge-transform: translate(122px, 107px) rotate(-8deg);
  --akasha-barge-width: 154px;
  --akasha-input-transform: translate(-55px, -27px);
  --science-circle-width: 60px;
  --science-circle-height: 65px;
  --science-degre-left: 8px;
  --science-degre-top: 10px;
  --kabbale-arbre-color: #191813;
  --puce-top: -16px;
  --vecu-header-bottom: -25px;
  --laboratoire-labs-left: calc(50% + 165px);
  --laboratoire-circle-height: 51px;
  --laboratoire-circle-width: 50px;
  --laboratoire-air-top: -44px;
  --laboratoire-air-left: -27px;
  --laboratoire-eau-top: 45px;
  --laboratoire-eau-left: -143px;
  --laboratoire-feu-top: -145px;
  --laboratoire-feu-left: -213px;
  --laboratoire-lune-top: -57px;
  --laboratoire-lune-left: -14px;
  --laboratoire-terre-top: -175px;
  --laboratoire-terre-left: -78px;
  --laboratoire-athanor-top: 349px;
  --laboratoire-athanor-left: calc(50% - 57px);
  --laboratoire-alambic-top: 349px;
  --laboratoire-alambic-left: calc(50% - 16px);
  --laboratoire-aludel-top: 266px;
  --laboratoire-aludel-left: calc(50% - 27px);
  --laboratoire-cornue-top: 257px;
  --laboratoire-cornue-left: calc(50% - 261px);
  --laboratoire-creuset-top: 189px;
  --laboratoire-creuset-left: calc(50% - 242px);
  --materiae-air-top: 92px;
  --materiae-air-left: 337px;
  --materiae-eau-top: 294px;
  --materiae-eau-left: 331px;
  --materiae-feu-top: 7px;
  --materiae-feu-left: 121px;
  --materiae-lune-top: 355px;
  --materiae-lune-left: 95px;
  --materiae-terre-top: 179px;
  --materiae-terre-left: -16px;
  --materiae-circle-width: 80px;
  --materiae-circle-height: 85px;
  --materiae-circle-top: -25px;
  --materiae-circle-left: -25px;
  --materiae-input-top: 0px;
  --materiae-input-left: -17px;
  --materiae-maximum-top: 11px;
  --materiae-maximum-left: 14px;
  --soleil-circle-width: 90px;
  --soleil-circle-height: 92px;
  --soleil-tooltip-margin-top: 33px;
  --soleil-tooltip-margin-left: -42px;
  --color-scrollbar: #a1a1a1;
}
.skin-feu {
  --background: url("../../systems/neph5e/assets/skins/feu/background.webp") repeat;
  --article-separator-margin-top: -20px;
  --font-color: #e37e00;
  --font-editor-color: #e37e00;
  --font-side-color: #b58468;
  --font-side-selected-color: #362102;
  --shadow-navigation-color: #520303;
  --font-disabled-color: #95703a;
  --font-article-title: #ad521d;
  --column-color: #ad521d;
  --side-background: url("../../systems/neph5e/assets/skins/feu/side-background.webp");
  --img-article-separator: url("../../systems/neph5e/assets/skins/feu/article-separator.webp");
  --img-article-corner: url("../../systems/neph5e/assets/skins/feu/article-corner.webp");
  --img-nef: url("../../systems/neph5e/assets/skins/feu/boussole.webp");
  --img-circle: url("../../systems/neph5e/assets/skins/feu/circle.webp");
  --img-barge: url("../../systems/neph5e/assets/skins/feu/compas.webp");
  --img-corner: url("../../systems/neph5e/assets/skins/feu/corner.webp");
  --img-hole: url("../../systems/neph5e/assets/skins/feu/hole.webp");
  --img-losange: url("../../systems/neph5e/assets/skins/feu/losange.webp");
  --img-pin: url("../../systems/neph5e/assets/skins/feu/pin.webp");
  --img-puce: url("../../systems/neph5e/assets/skins/feu/puce.webp");
  --img-separator: url("../../systems/neph5e/assets/skins/feu/separator.webp");
  --img-triangle: url("../../systems/neph5e/assets/skins/feu/triangle.webp");
  --incarnations-menu-first-color: #dbc73b;
  --incarnations-menu-second-color: #f95101;
  --nephilim-margin-top: 0px;
  --nephilim-header-bottom: -15px;
  --nephilim-header-input-left: 8px;
  --nephilim-circle-width: 60px;
  --nephilim-circle-height: 65px;
  --nephilim-stase-margin-top: -4px;
  --nephilim-color-chute: #ff6409;
  --nephilim-left-dice: 7px;
  --nephilim-top-dice: 25px;
  --nephilim-left-element: 25px;
  --nephilim-top-element: 20px;
  --nephilim-width-circle: 99px;
  --nephilim-height-circle: 113px;
  --nephilim-top-air: 76px;
  --nephilim-left-air: 330px;
  --nephilim-top-eau: 281px;
  --nephilim-left-eau: 322px;
  --nephilim-top-feu: -11px;
  --nephilim-left-feu: 106px;
  --nephilim-top-lune: 345px;
  --nephilim-left-lune: 95px;
  --nephilim-top-terre: 168px;
  --nephilim-left-terre: -30px;
  --selenim-width-circle: 150px;
  --selenim-height-circle: 168px;
  --selenim-top-circle: -45px;
  --selenim-left-circle: -44px;
  --selenim-reserves-tooltip-top: -51px;
  --selenim-reserves-tooltip-left: -55px;
  --selenim-reserves-separator-top: -51px;
  --selenim-reserves-separator-left: -62px;
  --selenim-element-tooltip-top: 2px;
  --selenim-element-tooltip-left: 13px;
  --selenim-element-dice-top: 7px;
  --selenim-element-dice-left: -8px;
  --selenim-imago-width: 80px;
  --selenim-imago-height: 98px;
  --selenim-imago-top: -17px;
  --selenim-imago-left: -21px;
  --selenim-imago-bottom: -28px;
  --combat-header-bottom: -22px;
  --combat-carac-width: 44px;
  --combat-carac-input-width: 35px;
  --combat-carac-input-top: 10px;
  --combat-armures-bottom: -14px;
  --combat-dommages-circle-top: 71px;
  --combat-dommages-circle-width: 94px;
  --combat-dommages-circle-height: 105px;
  --combat-dommages-physique-left: calc(50% - 199px);
  --combat-dommages-magique-left: calc(50% + 155px);
  --combat-triangle-width: 300px;
  --combat-triangle-top: -40px;
  --combat-triangle-left: -117px;
  --combat-bonus-margin-top: 0px;
  --combat-bonus-losange-left: calc(50% - 51px);
  --combat-bonus-losange-top: 48px;
  --combat-bonus-losange-width: 120px;
  --combat-bonus-circle-width: 56px;
  --combat-bonus-circle-height: 67px;
  --combat-bonus-input-width: 31px;
  --combat-bonus-input-height: 53px;
  --combat-bonus-mouvement-top: calc(50% - -158px);
  --combat-bonus-mouvement-left: calc(50% - 36px);
  --combat-bonus-initiative-top: calc(50% - 10px);
  --combat-bonus-initiative-left: calc(50% - 36px);
  --combat-bonus-dommages-top: calc(50% + 74px);
  --combat-bonus-dommages-left: calc(50% - 120px);
  --combat-bonus-protection-top: calc(50% + 74px);
  --combat-bonus-protection-left: calc(50% + 51px);
  --options-body-margin-top: -25px;
  --options-body-margin-bottom: -10px;
  --akasha-circle-width: 60px;
  --akasha-nef-transform: translate(119px, 91px) rotate(0deg);
  --akasha-nef-width: 163px;
  --akasha-barge-transform: translate(134px, 61px) rotate(31deg);
  --akasha-barge-width: 132px;
  --akasha-input-transform: translate(-53px, -27px);
  --science-circle-width: 69px;
  --science-circle-height: 77px;
  --science-degre-left: 15px;
  --science-degre-top: 16px;
  --kabbale-arbre-color: #4c1905;
  --puce-top: -15px;
  --vecu-header-bottom: -10px;
  --laboratoire-labs-left: calc(50% + 165px);
  --laboratoire-circle-height: 55px;
  --laboratoire-circle-width: 50px;
  --laboratoire-air-top: -44px;
  --laboratoire-air-left: -34px;
  --laboratoire-eau-top: 45px;
  --laboratoire-eau-left: -144px;
  --laboratoire-feu-top: -137px;
  --laboratoire-feu-left: -213px;
  --laboratoire-lune-top: -62px;
  --laboratoire-lune-left: -13px;
  --laboratoire-terre-top: -178px;
  --laboratoire-terre-left: -76px;
  --laboratoire-athanor-top: 379px;
  --laboratoire-athanor-left: calc(50% - 68px);
  --laboratoire-alambic-top: 379px;
  --laboratoire-alambic-left: calc(50% - 24px);
  --laboratoire-aludel-top: 290px;
  --laboratoire-aludel-left: calc(50% - 31px);
  --laboratoire-cornue-top: 265px;
  --laboratoire-cornue-left: calc(50% - 261px);
  --laboratoire-creuset-top: 210px;
  --laboratoire-creuset-left: calc(50% - 241px);
  --materiae-air-top: 79px;
  --materiae-air-left: 332px;
  --materiae-eau-top: 284px;
  --materiae-eau-left: 319px;
  --materiae-feu-top: -11px;
  --materiae-feu-left: 103px;
  --materiae-lune-top: 346px;
  --materiae-lune-left: 83px;
  --materiae-terre-top: 163px;
  --materiae-terre-left: -37px;
  --materiae-circle-width: 104px;
  --materiae-circle-height: 115px;
  --materiae-circle-top: -25px;
  --materiae-circle-left: -25px;
  --materiae-input-top: 15px;
  --materiae-input-left: 0px;
  --materiae-maximum-top: 28px;
  --materiae-maximum-left: 30px;
  --soleil-circle-width: 90px;
  --soleil-circle-height: 110px;
  --soleil-tooltip-margin-top: 42px;
  --soleil-tooltip-margin-left: -40px;
  --color-scrollbar: #ad521d;
}
.skin-lune {
  --background: radial-gradient(circle at 100% 0%, #e8e8ed 9%, rgba(34, 34, 34, 0.5) 19%, rgba(72, 72, 72, 0.1) 119%), url("../../systems/neph5e/assets/skins/lune/background.webp") repeat;
  --article-separator-margin-top: 0px;
  --font-color: #121212;
  --font-editor-color: #191813;
  --font-side-color: #191813;
  --font-side-selected-color: #dfdede;
  --shadow-navigation-color: black;
  --font-disabled-color: #d9d1d1;
  --font-article-title: -internal-light-dark(black, white);
  --column-color: #191813;
  --side-background: url("../../systems/neph5e/assets/skins/lune/side-background.webp");
  --img-article-separator: url("../../systems/neph5e/assets/skins/lune/article-separator.webp");
  --img-article-corner: url("../../systems/neph5e/assets/skins/lune/article-corner.webp");
  --img-nef: url("../../systems/neph5e/assets/skins/lune/boussole.webp");
  --img-circle: url("../../systems/neph5e/assets/skins/lune/circle.webp");
  --img-barge: url("../../systems/neph5e/assets/skins/lune/compas.webp");
  --img-corner: url("../../systems/neph5e/assets/skins/lune/corner.webp");
  --img-hole: url("../../systems/neph5e/assets/skins/lune/hole.webp");
  --img-losange: url("../../systems/neph5e/assets/skins/lune/losange.webp");
  --img-pin: url("../../systems/neph5e/assets/skins/lune/pin.webp");
  --img-puce: url("../../systems/neph5e/assets/skins/lune/puce.webp");
  --img-separator: url("../../systems/neph5e/assets/skins/lune/separator.webp");
  --img-triangle: url("../../systems/neph5e/assets/skins/lune/triangle.webp");
  --incarnations-menu-first-color: #e2e0d2;
  --incarnations-menu-second-color: #191813;
  --nephilim-margin-top: 0px;
  --nephilim-header-bottom: -10px;
  --nephilim-header-input-left: 8px;
  --nephilim-circle-width: 60px;
  --nephilim-circle-height: 60px;
  --nephilim-stase-margin-top: -6px;
  --nephilim-color-chute: indianred;
  --nephilim-left-dice: -3px;
  --nephilim-top-dice: 10px;
  --nephilim-left-element: 13px;
  --nephilim-top-element: 4px;
  --nephilim-width-circle: 80px;
  --nephilim-height-circle: 81px;
  --nephilim-top-air: 92px;
  --nephilim-left-air: 338px;
  --nephilim-top-eau: 298px;
  --nephilim-left-eau: 328px;
  --nephilim-top-feu: 7px;
  --nephilim-left-feu: 110px;
  --nephilim-top-lune: 361px;
  --nephilim-left-lune: 89px;
  --nephilim-top-terre: 179px;
  --nephilim-left-terre: -30px;
  --selenim-width-circle: 115px;
  --selenim-height-circle: 115px;
  --selenim-top-circle: -25px;
  --selenim-left-circle: -25px;
  --selenim-reserves-tooltip-top: -61px;
  --selenim-reserves-tooltip-left: -59px;
  --selenim-reserves-separator-top: -60px;
  --selenim-reserves-separator-left: -66px;
  --selenim-element-tooltip-top: 4px;
  --selenim-element-tooltip-left: 13px;
  --selenim-element-dice-top: 10px;
  --selenim-element-dice-left: -3px;
  --selenim-imago-width: 60px;
  --selenim-imago-height: 65px;
  --selenim-imago-top: 0px;
  --selenim-imago-left: 0px;
  --selenim-imago-bottom: -10px;
  --combat-header-bottom: -14px;
  --combat-carac-width: 48px;
  --combat-carac-input-width: 35px;
  --combat-carac-input-top: 10px;
  --combat-armures-bottom: -10px;
  --combat-dommages-circle-top: 81px;
  --combat-dommages-circle-width: 80px;
  --combat-dommages-circle-height: 85px;
  --combat-dommages-physique-left: calc(50% - 190px);
  --combat-dommages-magique-left: calc(50% + 166px);
  --combat-triangle-width: 254px;
  --combat-triangle-top: -25px;
  --combat-triangle-left: -95px;
  --combat-bonus-margin-top: 0px;
  --combat-bonus-losange-left: calc(50% - 51px);
  --combat-bonus-losange-top: 48px;
  --combat-bonus-losange-width: 120px;
  --combat-bonus-circle-width: 48px;
  --combat-bonus-circle-height: 51px;
  --combat-bonus-input-width: 35px;
  --combat-bonus-input-height: 35px;
  --combat-bonus-mouvement-top: calc(50% - -185px);
  --combat-bonus-mouvement-left: calc(50% - 31px);
  --combat-bonus-initiative-top: calc(50% - 3px);
  --combat-bonus-initiative-left: calc(50% - 31px);
  --combat-bonus-dommages-top: calc(50% - -91px);
  --combat-bonus-dommages-left: calc(50% - 120px);
  --combat-bonus-protection-top: calc(50% - -91px);
  --combat-bonus-protection-left: calc(50% - -57px);
  --options-body-margin-top: 0px;
  --options-body-margin-bottom: -10px;
  --akasha-circle-width: 60px;
  --akasha-nef-transform: translate(119px, 85px) rotate(0deg);
  --akasha-nef-width: 163px;
  --akasha-barge-transform: translate(101px, 87px) rotate(30deg);
  --akasha-barge-width: 200px;
  --akasha-input-transform: translate(-55px, -27px);
  --science-circle-width: 60px;
  --science-circle-height: 60px;
  --science-degre-left: 8px;
  --science-degre-top: 7px;
  --kabbale-arbre-color: #191813;
  --puce-top: -6px;
  --vecu-header-bottom: -10px;
  --laboratoire-labs-left: calc(50% + 165px);
  --laboratoire-circle-height: 51px;
  --laboratoire-circle-width: 50px;
  --laboratoire-air-top: -44px;
  --laboratoire-air-left: -25px;
  --laboratoire-eau-top: 49px;
  --laboratoire-eau-left: -142px;
  --laboratoire-feu-top: -149px;
  --laboratoire-feu-left: -209px;
  --laboratoire-lune-top: -57px;
  --laboratoire-lune-left: -14px;
  --laboratoire-terre-top: -175px;
  --laboratoire-terre-left: -78px;
  --laboratoire-athanor-top: 349px;
  --laboratoire-athanor-left: calc(50% - 57px);
  --laboratoire-alambic-top: 349px;
  --laboratoire-alambic-left: calc(50% - 16px);
  --laboratoire-aludel-top: 266px;
  --laboratoire-aludel-left: calc(50% - 27px);
  --laboratoire-cornue-top: 257px;
  --laboratoire-cornue-left: calc(50% - 261px);
  --laboratoire-creuset-top: 189px;
  --laboratoire-creuset-left: calc(50% - 242px);
  --materiae-air-top: 92px;
  --materiae-air-left: 341px;
  --materiae-eau-top: 298px;
  --materiae-eau-left: 334px;
  --materiae-feu-top: 7px;
  --materiae-feu-left: 115px;
  --materiae-lune-top: 361px;
  --materiae-lune-left: 95px;
  --materiae-terre-top: 179px;
  --materiae-terre-left: -23px;
  --materiae-circle-width: 80px;
  --materiae-circle-height: 80px;
  --materiae-circle-top: -25px;
  --materiae-circle-left: -25px;
  --materiae-input-top: 0px;
  --materiae-input-left: -17px;
  --materiae-maximum-top: 11px;
  --materiae-maximum-left: 14px;
  --soleil-circle-width: 90px;
  --soleil-circle-height: 90px;
  --soleil-tooltip-margin-top: 30px;
  --soleil-tooltip-margin-left: -43px;
  --color-scrollbar: #121212;
}
.skin-lune-noire {
  --background: radial-gradient(circle at 100% 0%, #000000 10%, rgba(106, 106, 106, 0.42) 14%, rgba(200, 200, 200, 0.5) 15%, rgba(220, 220, 220, 0.5) 101%, rgba(106, 106, 106, 0) 177%), url("../../systems/neph5e/assets/skins/lune-noire/background.webp") repeat;
  --article-separator-margin-top: 0px;
  --font-color: #191813;
  --font-editor-color: #191813;
  --font-side-color: #191813;
  --font-side-selected-color: #383a3a;
  --shadow-navigation-color: black;
  --font-disabled-color: #a1a1a1;
  --font-article-title: -internal-light-dark(black, white);
  --column-color: #5e6061;
  --side-background: url("../../systems/neph5e/assets/skins/lune-noire/side-background.webp");
  --img-article-separator: url("../../systems/neph5e/assets/skins/lune-noire/article-separator.webp");
  --img-article-corner: url("../../systems/neph5e/assets/skins/lune-noire/article-corner.webp");
  --img-nef: url("../../systems/neph5e/assets/skins/lune-noire/boussole.webp");
  --img-circle: url("../../systems/neph5e/assets/skins/lune-noire/circle.webp");
  --img-barge: url("../../systems/neph5e/assets/skins/lune-noire/compas.webp");
  --img-corner: url("../../systems/neph5e/assets/skins/lune-noire/corner.webp");
  --img-hole: url("../../systems/neph5e/assets/skins/lune-noire/hole.webp");
  --img-losange: url("../../systems/neph5e/assets/skins/lune-noire/losange.webp");
  --img-pin: url("../../systems/neph5e/assets/skins/lune-noire/pin.webp");
  --img-puce: url("../../systems/neph5e/assets/skins/lune-noire/puce.webp");
  --img-separator: url("../../systems/neph5e/assets/skins/lune-noire/separator.webp");
  --img-triangle: url("../../systems/neph5e/assets/skins/lune-noire/triangle.webp");
  --incarnations-menu-first-color: #191813;
  --incarnations-menu-second-color: #e2e0d2;
  --nephilim-margin-top: -10px;
  --nephilim-header-bottom: -20px;
  --nephilim-header-input-left: 8px;
  --nephilim-color-chute: indianred;
  --nephilim-circle-width: 60px;
  --nephilim-circle-height: 65px;
  --nephilim-stase-margin-top: -4px;
  --nephilim-left-dice: -3px;
  --nephilim-top-dice: 10px;
  --nephilim-left-element: 13px;
  --nephilim-top-element: 4px;
  --nephilim-width-circle: 80px;
  --nephilim-height-circle: 85px;
  --nephilim-top-air: 92px;
  --nephilim-left-air: 337px;
  --nephilim-top-eau: 298px;
  --nephilim-left-eau: 327px;
  --nephilim-top-feu: 5px;
  --nephilim-left-feu: 109px;
  --nephilim-top-lune: 361px;
  --nephilim-left-lune: 92px;
  --nephilim-top-terre: 176px;
  --nephilim-left-terre: -29px;
  --selenim-width-circle: 115px;
  --selenim-height-circle: 115px;
  --selenim-top-circle: -25px;
  --selenim-left-circle: -25px;
  --selenim-reserves-tooltip-top: -61px;
  --selenim-reserves-tooltip-left: -59px;
  --selenim-reserves-separator-top: -60px;
  --selenim-reserves-separator-left: -66px;
  --selenim-element-tooltip-top: 4px;
  --selenim-element-tooltip-left: 13px;
  --selenim-element-dice-top: 10px;
  --selenim-element-dice-left: -3px;
  --selenim-imago-width: 60px;
  --selenim-imago-height: 65px;
  --selenim-imago-top: 0px;
  --selenim-imago-left: 0px;
  --selenim-imago-bottom: -10px;
  --combat-header-bottom: -28px;
  --combat-carac-width: 48px;
  --combat-carac-input-width: 35px;
  --combat-carac-input-top: 10px;
  --combat-armures-bottom: -19px;
  --combat-dommages-circle-top: 81px;
  --combat-dommages-circle-width: 80px;
  --combat-dommages-circle-height: 85px;
  --combat-dommages-physique-left: calc(50% - 190px);
  --combat-dommages-magique-left: calc(50% + 166px);
  --combat-triangle-width: 254px;
  --combat-triangle-top: -25px;
  --combat-triangle-left: -95px;
  --combat-bonus-margin-top: -16px;
  --combat-bonus-losange-left: calc(50% - 51px);
  --combat-bonus-losange-top: 57px;
  --combat-bonus-losange-width: 120px;
  --combat-bonus-circle-width: 48px;
  --combat-bonus-circle-height: 51px;
  --combat-bonus-input-width: 35px;
  --combat-bonus-input-height: 35px;
  --combat-bonus-mouvement-top: calc(50% - -185px);
  --combat-bonus-mouvement-left: calc(50% - 31px);
  --combat-bonus-initiative-top: calc(50% - 3px);
  --combat-bonus-initiative-left: calc(50% - 31px);
  --combat-bonus-dommages-top: calc(50% - -91px);
  --combat-bonus-dommages-left: calc(50% - 120px);
  --combat-bonus-protection-top: calc(50% - -91px);
  --combat-bonus-protection-left: calc(50% - -57px);
  --options-body-margin-top: -23px;
  --options-body-margin-bottom: -10px;
  --akasha-circle-width: 61px;
  --akasha-nef-transform: translate(134px, 115px) rotate(0deg);
  --akasha-nef-width: 124px;
  --akasha-barge-transform: translate(123px, 89px) rotate(210deg);
  --akasha-barge-width: 143px;
  --akasha-input-transform: translate(-55px, -27px);
  --science-circle-width: 60px;
  --science-circle-height: 62px;
  --science-degre-left: 9px;
  --science-degre-top: 8px;
  --kabbale-arbre-color: #191813;
  --puce-top: -15px;
  --vecu-header-bottom: -25px;
  --laboratoire-labs-left: calc(50% + 165px);
  --laboratoire-circle-height: 51px;
  --laboratoire-circle-width: 50px;
  --laboratoire-air-top: -44px;
  --laboratoire-air-left: -27px;
  --laboratoire-eau-top: 49px;
  --laboratoire-eau-left: -141px;
  --laboratoire-feu-top: -145px;
  --laboratoire-feu-left: -213px;
  --laboratoire-lune-top: -57px;
  --laboratoire-lune-left: -14px;
  --laboratoire-terre-top: -175px;
  --laboratoire-terre-left: -78px;
  --laboratoire-athanor-top: 349px;
  --laboratoire-athanor-left: calc(50% - 57px);
  --laboratoire-alambic-top: 349px;
  --laboratoire-alambic-left: calc(50% - 16px);
  --laboratoire-aludel-top: 266px;
  --laboratoire-aludel-left: calc(50% - 27px);
  --laboratoire-cornue-top: 257px;
  --laboratoire-cornue-left: calc(50% - 261px);
  --laboratoire-creuset-top: 189px;
  --laboratoire-creuset-left: calc(50% - 242px);
  --materiae-air-top: 92px;
  --materiae-air-left: 341px;
  --materiae-eau-top: 298px;
  --materiae-eau-left: 334px;
  --materiae-feu-top: 7px;
  --materiae-feu-left: 115px;
  --materiae-lune-top: 361px;
  --materiae-lune-left: 95px;
  --materiae-terre-top: 179px;
  --materiae-terre-left: -23px;
  --materiae-circle-width: 80px;
  --materiae-circle-height: 80px;
  --materiae-circle-top: -25px;
  --materiae-circle-left: -25px;
  --materiae-input-top: 0px;
  --materiae-input-left: -17px;
  --materiae-maximum-top: 11px;
  --materiae-maximum-left: 14px;
  --soleil-circle-width: 90px;
  --soleil-circle-height: 90px;
  --soleil-tooltip-margin-top: 31px;
  --soleil-tooltip-margin-left: -42px;
  --color-scrollbar: #191813;
}
.skin-soleil {
  --background: url("../../systems/neph5e/assets/skins/soleil/background.webp") repeat;
  --article-separator-margin-top: 0px;
  --font-color: #191813;
  --font-editor-color: #191813;
  --font-side-color: #191813;
  --font-side-selected-color: #4e3904;
  --shadow-navigation-color: black;
  --font-disabled-color: #a1a1a1;
  --font-article-title: -internal-light-dark(black, white);
  --column-color: #c3a049;
  --side-background: url("../../systems/neph5e/assets/skins/soleil/side-background.webp");
  --img-article-separator: url("../../systems/neph5e/assets/skins/soleil/article-separator.webp");
  --img-article-corner: url("../../systems/neph5e/assets/skins/soleil/article-corner.webp");
  --img-nef: url("../../systems/neph5e/assets/skins/soleil/boussole.webp");
  --img-circle: url("../../systems/neph5e/assets/skins/soleil/circle.webp");
  --img-barge: url("../../systems/neph5e/assets/skins/soleil/compas.webp");
  --img-corner: url("../../systems/neph5e/assets/skins/soleil/corner.webp");
  --img-hole: url("../../systems/neph5e/assets/skins/soleil/hole.webp");
  --img-losange: url("../../systems/neph5e/assets/skins/soleil/losange.webp");
  --img-pin: url("../../systems/neph5e/assets/skins/soleil/pin.webp");
  --img-puce: url("../../systems/neph5e/assets/skins/soleil/puce.webp");
  --img-separator: url("../../systems/neph5e/assets/skins/soleil/separator.webp");
  --img-triangle: url("../../systems/neph5e/assets/skins/soleil/triangle.webp");
  --incarnations-menu-first-color: #e2e0d2;
  --incarnations-menu-second-color: #8b4b0e;
  --nephilim-margin-top: 0px;
  --nephilim-header-bottom: -5px;
  --nephilim-header-input-left: 8px;
  --nephilim-circle-width: 60px;
  --nephilim-circle-height: 65px;
  --nephilim-stase-margin-top: -4px;
  --nephilim-color-chute: indianred;
  --nephilim-left-dice: -3px;
  --nephilim-top-dice: 10px;
  --nephilim-left-element: 13px;
  --nephilim-top-element: 4px;
  --nephilim-width-circle: 80px;
  --nephilim-height-circle: 85px;
  --nephilim-top-air: 92px;
  --nephilim-left-air: 330px;
  --nephilim-top-eau: 298px;
  --nephilim-left-eau: 324px;
  --nephilim-top-feu: 7px;
  --nephilim-left-feu: 112px;
  --nephilim-top-lune: 358px;
  --nephilim-left-lune: 95px;
  --nephilim-top-terre: 179px;
  --nephilim-left-terre: -28px;
  --selenim-width-circle: 115px;
  --selenim-height-circle: 115px;
  --selenim-top-circle: -25px;
  --selenim-left-circle: -25px;
  --selenim-reserves-tooltip-top: -61px;
  --selenim-reserves-tooltip-left: -59px;
  --selenim-reserves-separator-top: -60px;
  --selenim-reserves-separator-left: -66px;
  --selenim-element-tooltip-top: 4px;
  --selenim-element-tooltip-left: 13px;
  --selenim-element-dice-top: 10px;
  --selenim-element-dice-left: -3px;
  --selenim-imago-width: 60px;
  --selenim-imago-height: 65px;
  --selenim-imago-top: 0px;
  --selenim-imago-left: 0px;
  --selenim-imago-bottom: 7px;
  --combat-header-bottom: -20px;
  --combat-carac-width: 48px;
  --combat-carac-input-width: 35px;
  --combat-carac-input-top: 10px;
  --combat-armures-bottom: -7px;
  --combat-dommages-circle-top: 81px;
  --combat-dommages-circle-width: 80px;
  --combat-dommages-circle-height: 85px;
  --combat-dommages-physique-left: calc(50% - 190px);
  --combat-dommages-magique-left: calc(50% + 166px);
  --combat-triangle-width: 200px;
  --combat-triangle-top: 10px;
  --combat-triangle-left: -70px;
  --combat-bonus-margin-top: 0px;
  --combat-bonus-losange-left: calc(50% - 51px);
  --combat-bonus-losange-top: 48px;
  --combat-bonus-losange-width: 120px;
  --combat-bonus-circle-width: 48px;
  --combat-bonus-circle-height: 51px;
  --combat-bonus-input-width: 35px;
  --combat-bonus-input-height: 35px;
  --combat-bonus-mouvement-top: calc(50% - -185px);
  --combat-bonus-mouvement-left: calc(50% - 31px);
  --combat-bonus-initiative-top: calc(50% - 3px);
  --combat-bonus-initiative-left: calc(50% - 31px);
  --combat-bonus-dommages-top: calc(50% - -91px);
  --combat-bonus-dommages-left: calc(50% - 120px);
  --combat-bonus-protection-top: calc(50% - -91px);
  --combat-bonus-protection-left: calc(50% - -57px);
  --options-body-margin-top: 0px;
  --options-body-margin-bottom: -10px;
  --akasha-circle-width: 60px;
  --akasha-nef-transform: translate(91px, 80px) rotate(30deg);
  --akasha-nef-width: 218px;
  --akasha-barge-transform: translate(101px, 87px) rotate(30deg);
  --akasha-barge-width: 200px;
  --akasha-input-transform: translate(-55px, -27px);
  --science-circle-width: 60px;
  --science-circle-height: 65px;
  --science-degre-left: 8px;
  --science-degre-top: 10px;
  --kabbale-arbre-color: #191813;
  --puce-top: 0px;
  --vecu-header-bottom: -10px;
  --laboratoire-labs-left: calc(50% + 165px);
  --laboratoire-circle-height: 51px;
  --laboratoire-circle-width: 50px;
  --laboratoire-air-top: -44px;
  --laboratoire-air-left: -27px;
  --laboratoire-eau-top: 49px;
  --laboratoire-eau-left: -141px;
  --laboratoire-feu-top: -145px;
  --laboratoire-feu-left: -213px;
  --laboratoire-lune-top: -57px;
  --laboratoire-lune-left: -14px;
  --laboratoire-terre-top: -175px;
  --laboratoire-terre-left: -78px;
  --laboratoire-athanor-top: 349px;
  --laboratoire-athanor-left: calc(50% - 57px);
  --laboratoire-alambic-top: 349px;
  --laboratoire-alambic-left: calc(50% - 16px);
  --laboratoire-aludel-top: 266px;
  --laboratoire-aludel-left: calc(50% - 27px);
  --laboratoire-cornue-top: 257px;
  --laboratoire-cornue-left: calc(50% - 261px);
  --laboratoire-creuset-top: 189px;
  --laboratoire-creuset-left: calc(50% - 242px);
  --materiae-air-top: 92px;
  --materiae-air-left: 341px;
  --materiae-eau-top: 298px;
  --materiae-eau-left: 334px;
  --materiae-feu-top: 7px;
  --materiae-feu-left: 115px;
  --materiae-lune-top: 361px;
  --materiae-lune-left: 95px;
  --materiae-terre-top: 179px;
  --materiae-terre-left: -23px;
  --materiae-circle-width: 80px;
  --materiae-circle-height: 85px;
  --materiae-circle-top: -25px;
  --materiae-circle-left: -25px;
  --materiae-input-top: 0px;
  --materiae-input-left: -17px;
  --materiae-maximum-top: 11px;
  --materiae-maximum-left: 14px;
  --soleil-circle-width: 90px;
  --soleil-circle-height: 90px;
  --soleil-tooltip-margin-top: 30px;
  --soleil-tooltip-margin-left: -38px;
  --color-scrollbar: #4e3904;
}
.skin-terre {
  --background: url("../../systems/neph5e/assets/skins/terre/background.webp") repeat;
  --article-separator-margin-top: 0px;
  --font-color: #113203;
  --font-editor-color: #191813;
  --font-side-color: #191813;
  --font-side-selected-color: ##9eb58f;
  --shadow-navigation-color: #113203;
  --font-disabled-color: #9eb58f;
  --font-article-title: -internal-light-dark(#113203, #9eb58f);
  --column-color: #113203;
  --side-background: url("../../systems/neph5e/assets/skins/terre/side-background.webp");
  --img-article-separator: url("../../systems/neph5e/assets/skins/terre/article-separator.webp");
  --img-article-corner: url("../../systems/neph5e/assets/skins/terre/article-corner.webp");
  --img-nef: url("../../systems/neph5e/assets/skins/terre/boussole.webp");
  --img-circle: url("../../systems/neph5e/assets/skins/terre/circle.webp");
  --img-barge: url("../../systems/neph5e/assets/skins/terre/compas.webp");
  --img-corner: url("../../systems/neph5e/assets/skins/terre/corner.webp");
  --img-hole: url("../../systems/neph5e/assets/skins/terre/hole.webp");
  --img-losange: url("../../systems/neph5e/assets/skins/terre/losange.webp");
  --img-pin: url("../../systems/neph5e/assets/skins/terre/pin.webp");
  --img-puce: url("../../systems/neph5e/assets/skins/terre/puce.webp");
  --img-separator: url("../../systems/neph5e/assets/skins/terre/separator.webp");
  --img-triangle: url("../../systems/neph5e/assets/skins/terre/triangle.webp");
  --incarnations-menu-first-color: #d2e2d7;
  --incarnations-menu-second-color: #0e8b34;
  --nephilim-margin-top: 0px;
  --nephilim-header-bottom: 2px;
  --nephilim-header-input-left: 12px;
  --nephilim-circle-width: 66px;
  --nephilim-circle-height: 65px;
  --nephilim-stase-margin-top: -4px;
  --nephilim-color-chute: indianred;
  --nephilim-left-dice: -3px;
  --nephilim-top-dice: 10px;
  --nephilim-left-element: 13px;
  --nephilim-top-element: 4px;
  --nephilim-width-circle: 88px;
  --nephilim-height-circle: 85px;
  --nephilim-top-air: 92px;
  --nephilim-left-air: 328px;
  --nephilim-top-eau: 291px;
  --nephilim-left-eau: 321px;
  --nephilim-top-feu: 7px;
  --nephilim-left-feu: 111px;
  --nephilim-top-lune: 356px;
  --nephilim-left-lune: 92px;
  --nephilim-top-terre: 179px;
  --nephilim-left-terre: -27px;
  --selenim-width-circle: 115px;
  --selenim-height-circle: 115px;
  --selenim-top-circle: -25px;
  --selenim-left-circle: -25px;
  --selenim-reserves-tooltip-top: -61px;
  --selenim-reserves-tooltip-left: -59px;
  --selenim-reserves-separator-top: -60px;
  --selenim-reserves-separator-left: -66px;
  --selenim-element-tooltip-top: 4px;
  --selenim-element-tooltip-left: 13px;
  --selenim-element-dice-top: 10px;
  --selenim-element-dice-left: -3px;
  --selenim-imago-width: 60px;
  --selenim-imago-height: 65px;
  --selenim-imago-top: 0px;
  --selenim-imago-left: 0px;
  --selenim-imago-bottom: -10px;
  --combat-header-bottom: -3px;
  --combat-carac-width: 52px;
  --combat-carac-input-width: 39px;
  --combat-carac-input-top: 8px;
  --combat-armures-bottom: 3px;
  --combat-dommages-circle-top: 81px;
  --combat-dommages-circle-width: 90px;
  --combat-dommages-circle-height: 85px;
  --combat-dommages-physique-left: calc(50% - 194px);
  --combat-dommages-magique-left: calc(50% + 162px);
  --combat-triangle-width: 247px;
  --combat-triangle-top: -27px;
  --combat-triangle-left: -93px;
  --combat-bonus-margin-top: 20px;
  --combat-bonus-losange-left: calc(50% - 51px);
  --combat-bonus-losange-top: 61px;
  --combat-bonus-losange-width: 120px;
  --combat-bonus-circle-width: 51px;
  --combat-bonus-circle-height: 51px;
  --combat-bonus-input-width: 32px;
  --combat-bonus-input-height: 35px;
  --combat-bonus-mouvement-top: calc(50% - -185px);
  --combat-bonus-mouvement-left: calc(50% - 34px);
  --combat-bonus-initiative-top: calc(50% - 0px);
  --combat-bonus-initiative-left: calc(50% - 34px);
  --combat-bonus-dommages-top: calc(50% - -91px);
  --combat-bonus-dommages-left: calc(50% - 127px);
  --combat-bonus-protection-top: calc(50% - -91px);
  --combat-bonus-protection-left: calc(50% - -57px);
  --options-body-margin-top: 0px;
  --options-body-margin-bottom: 0px;
  --akasha-circle-width: 66px;
  --akasha-nef-transform: translate(121px, 94px) rotate(0deg);
  --akasha-nef-width: 163px;
  --akasha-barge-transform: translate(121px, 94px) rotate(30deg);
  --akasha-barge-width: 164px;
  --akasha-input-transform: translate(-58px, -27px);
  --science-circle-width: 65px;
  --science-circle-height: 65px;
  --science-degre-left: 11px;
  --science-degre-top: 10px;
  --kabbale-arbre-color: #191813;
  --puce-top: 0px;
  --vecu-header-bottom: -3px;
  --laboratoire-labs-left: calc(50% + 165px);
  --laboratoire-circle-height: 51px;
  --laboratoire-circle-width: 53px;
  --laboratoire-air-top: -44px;
  --laboratoire-air-left: -27px;
  --laboratoire-eau-top: 49px;
  --laboratoire-eau-left: -141px;
  --laboratoire-feu-top: -145px;
  --laboratoire-feu-left: -213px;
  --laboratoire-lune-top: -57px;
  --laboratoire-lune-left: -14px;
  --laboratoire-terre-top: -175px;
  --laboratoire-terre-left: -78px;
  --laboratoire-athanor-top: 349px;
  --laboratoire-athanor-left: calc(50% - 57px);
  --laboratoire-alambic-top: 349px;
  --laboratoire-alambic-left: calc(50% - 16px);
  --laboratoire-aludel-top: 266px;
  --laboratoire-aludel-left: calc(50% - 27px);
  --laboratoire-cornue-top: 257px;
  --laboratoire-cornue-left: calc(50% - 261px);
  --laboratoire-creuset-top: 189px;
  --laboratoire-creuset-left: calc(50% - 242px);
  --materiae-air-top: 93px;
  --materiae-air-left: 335px;
  --materiae-eau-top: 291px;
  --materiae-eau-left: 328px;
  --materiae-feu-top: 11px;
  --materiae-feu-left: 113px;
  --materiae-lune-top: 357px;
  --materiae-lune-left: 92px;
  --materiae-terre-top: 172px;
  --materiae-terre-left: -26px;
  --materiae-circle-width: 93px;
  --materiae-circle-height: 85px;
  --materiae-circle-top: -25px;
  --materiae-circle-left: -25px;
  --materiae-input-top: 0px;
  --materiae-input-left: -12px;
  --materiae-maximum-top: 11px;
  --materiae-maximum-left: 19px;
  --soleil-circle-width: 90px;
  --soleil-circle-height: 90px;
  --soleil-tooltip-margin-top: 31px;
  --soleil-tooltip-margin-left: -44px;
  --color-scrollbar: #113203;
}
.tab.combat {
  display: flex;
  flex-direction: row;
}
.tab.combat .header {
  position: relative;
  background-color: aqua;
}
.tab.combat .header .puce {
  position: absolute;
  content: var(--img-puce);
  width: 60px;
}
.tab.combat .header .separator {
  content: var(--img-separator);
  position: absolute;
  left: 55px;
  top: 30px;
  height: 4px;
  width: calc(100% - 65px);
}
.tab.combat .header .title {
  position: absolute;
  left: 70px;
  top: 5px;
}
.tab.combat .gauche {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #9da784;
  height: 100%;
}
.tab.combat .gauche .sante {
  position: relative;
  background-color: #627535;
}
.tab.combat .gauche .sante .pyramide {
  position: absolute;
  content: var(--img-triangle);
  left: calc(50% - var(--combat-triangle-width)/2);
  width: var(--combat-triangle-width);
}
.tab.combat .droite {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: aquamarine;
  height: 100%;
}
.tab.description {
  display: unset;
}
@font-face {
  font-family: "AJensonPro";
  src: url("../../systems/neph5e/assets/fonts/AJensonPro-Regular.otf");
}
@font-face {
  font-family: "AJensonProLtDisp";
  src: url("../../systems/neph5e/assets/fonts/AJensonPro-LtDisp.otf");
}
@font-face {
  font-family: "MinionPro";
  src: url("../../systems/neph5e/assets/fonts/MinionPro-Regular.otf");
}
@font-face {
  font-family: "Nightjar";
  src: url("../../systems/neph5e/assets/fonts/T-26 - Nightjar Regular.ttf");
}
@font-face {
  font-family: "NightjarDemi";
  src: url("../../systems/neph5e/assets/fonts/T-26 - Nightjar Demi.ttf");
}
.mixin-editing-content {
  background: linear-gradient(rgba(0, 26, 77, 0.5), rgba(0, 26, 77, 0.5)), var(--background-article-bright);
  border-radius: 5px;
  color: var(--color-font-bright);
}
.mixin-editing-bright-on-dark {
  background: var(--background-article-dark);
  color: var(--color-font-bright);
}
.mixin-editing-dark-on-bright {
  background: var(--background-article-bright);
  color: var(--color-font-dark);
}
.mixin-editing-dark-on-inherit {
  background: inherit;
  color: var(--color-font-dark);
}
.expanse {
  height: 100%;
  width: 100%;
}
form.nephilim {
  --background-article-bright: url("../../systems/neph5e/assets/skins/soleil/background.webp");
  --background-article-dark: url("../../systems/neph5e/assets/backgrounds/p.webp");
  --background-side-appel: url("../../systems/neph5e/assets/core/side-appel.webp");
  --background-side-arcane: url("../../systems/neph5e/assets/core/side-arcane.webp");
  --background-side-arme: url("../../systems/neph5e/assets/core/side-arme.webp");
  --background-side-armure: url("../../systems/neph5e/assets/core/side-armure.webp");
  --background-side-aspect: url("../../systems/neph5e/assets/core/side-aspect.webp");
  --background-side-capacite: url("../../systems/neph5e/assets/core/side-capacite.webp");
  --background-side-catalyseur: url("../../systems/neph5e/assets/core/side-catalyseur.webp");
  --background-side-chute: url("../../systems/neph5e/assets/core/side-chute.webp");
  --background-side-competence: url("../../systems/neph5e/assets/core/side-competence.webp");
  --background-side-materiae: url("../../systems/neph5e/assets/core/side-materiae.webp");
  --background-side-metamorphe: url("../../systems/neph5e/assets/core/side-metamorphe.webp");
  --background-side-passe: url("../../systems/neph5e/assets/core/side-passe.webp");
  --background-side-periode: url("../../systems/neph5e/assets/core/side-periode.webp");
  --background-side-quete: url("../../systems/neph5e/assets/core/side-quete.webp");
  --background-side-rite: url("../../systems/neph5e/assets/core/side-rite.webp");
  --background-side-savoir: url("../../systems/neph5e/assets/core/side-savoir.webp");
  --background-side-sort: url("../../systems/neph5e/assets/core/side-sort.webp");
  --background-side-vecu: url("../../systems/neph5e/assets/core/side-vecu.webp");
  --background-side-formule: url("../../systems/neph5e/assets/core/side-formule.webp");
  --background-side-invocation: url("../../systems/neph5e/assets/core/side-invocation.webp");
  --background-side-technique: url("../../systems/neph5e/assets/core/side-technique.webp");
  --color-font-bright: #f5f4f4;
  --color-font-dark: #191813;
  --color-scrollbar: #2f3557;
  --font-family-title: 'AJensonPro';
  --font-family-content: 'NightjarDemi';
}
form.nephilim section.window-content {
  flex-flow: unset;
  padding: 0px;
}
form.nephilim prose-mirror {
  position: sticky;
  top: 0;
  height: 100%;
}
form.nephilim prose-mirror .editor-content {
  background: linear-gradient(rgba(0, 26, 77, 0.5), rgba(0, 26, 77, 0.5)), var(--background-article-bright);
  border-radius: 5px;
  color: var(--color-font-bright);
  padding: 10px;
}
form.nephilim prose-mirror menu {
  background: var(--background-article-dark);
  color: var(--color-font-bright);
}
form.nephilim .checkbox {
  background: linear-gradient(rgba(0, 26, 77, 0.5), rgba(0, 26, 77, 0.5)), var(--background-article-bright);
  border-radius: 5px;
  color: var(--color-font-bright);
}
form.nephilim .checkbox.locked {
  background: none;
  color: var(--color-font-dark);
}
form.nephilim .checkbox input {
  display: none;
}
form.nephilim .checkbox label {
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
form.nephilim .checkbox input:checked + label {
  background: #000;
}
form.nephilim.actor section.window-content > section {
  display: flex;
  flex-flow: unset;
  width: 100%;
  background: var(--background-article-bright);
}
form.nephilim.actor section.window-content > section aside {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  width: 170px;
}
form.nephilim.actor section.window-content > section aside:before {
  position: absolute;
  content: "";
  inset: 0px;
  box-shadow: 0 0 6px 0px var(--color-font-bright) inset;
  background: var(--side-background) no-repeat;
  mask-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}
form.nephilim.actor section.window-content > section aside img {
  position: relative;
  margin-top: 10px;
  width: 150px;
  border: 0px;
}
form.nephilim.actor section.window-content > section aside nav {
  position: relative;
  width: 100%;
  margin-top: 20px;
  font-family: 'AJensonPro';
  font-size: 25px;
  font-weight: bolder;
  color: var(--font-side-color);
}
form.nephilim.actor section.window-content > section aside nav div {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
}
form.nephilim.actor section.window-content > section article {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--color-font-dark);
  overflow-y: auto;
}
form.nephilim.actor section.window-content > section article header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  width: 100%;
}
form.nephilim.actor section.window-content > section article header input {
  background: var(--background-article-dark);
  color: var(--color-font-bright);
  height: 50px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  border: none;
}
form.nephilim.actor section.window-content > section article header input:disabled {
  background-color: red;
  background: inherit;
  color: var(--color-font-dark);
}
form.nephilim.actor section.window-content > section article header img {
  width: 200px;
  content: var(--img-article-separator);
}
form.nephilim.actor section.window-content > section article main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
}
form.nephilim.actor section.window-content > section article main.description {
  display: unset;
}
form.nephilim.actor section.window-content > section article main.combat {
  display: flex;
  flex-direction: row;
}
form.nephilim.actor section.window-content > section article main.combat .header {
  position: relative;
  background-color: aqua;
}
form.nephilim.actor section.window-content > section article main.combat .header .puce {
  position: absolute;
  content: var(--img-puce);
  width: 60px;
}
form.nephilim.actor section.window-content > section article main.combat .header .separator {
  content: var(--img-separator);
  position: absolute;
  left: 55px;
  top: 30px;
  height: 4px;
  width: calc(100% - 65px);
}
form.nephilim.actor section.window-content > section article main.combat .header .title {
  position: absolute;
  left: 70px;
  top: 5px;
}
form.nephilim.actor section.window-content > section article main.combat .gauche {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #9da784;
  height: 100%;
}
form.nephilim.actor section.window-content > section article main.combat .gauche .sante {
  position: relative;
  background-color: #627535;
}
form.nephilim.actor section.window-content > section article main.combat .gauche .sante .pyramide {
  position: absolute;
  content: var(--img-triangle);
  left: calc(50% - var(--combat-triangle-width)/2);
  width: var(--combat-triangle-width);
}
form.nephilim.actor section.window-content > section article main.combat .droite {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: aquamarine;
  height: 100%;
}
form.nephilim.item section.window-content > section {
  display: flex;
  flex-flow: unset;
  width: 100%;
}
form.nephilim.item section.window-content > section aside {
  flex: 0 0 auto;
  width: 41px;
  background-image: var(--background-side);
  background-repeat: no-repeat;
  box-shadow: 0 0 6px 0px var(--color-font-bright) inset;
}
form.nephilim.item section.window-content > section article {
  background: var(--background-article-bright);
  color: var(--color-font-dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-title);
  font-size: 16px;
  width: 100%;
  overflow-y: auto;
}
form.nephilim.item section.window-content > section article header {
  background: var(--background-article-dark);
  color: var(--color-font-bright);
  display: flex;
  height: 60px;
  box-shadow: 0 0 6px 0px var(--color-font-bright) inset;
  width: 100%;
}
form.nephilim.item section.window-content > section article header input {
  background: initial;
  font-size: 30px;
  text-align: center;
  padding: 0px 10px 2px 10px;
  height: 100%;
  font-family: var(--font-family-content);
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-font-bright);
}
form.nephilim.item section.window-content > section article header img {
  flex: 0 0 auto;
  margin: 6px 6px 6px 6px;
  border-radius: 6px;
}
form.nephilim.item section.window-content > section article main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
}
form.nephilim.item section.window-content > section article main h1 {
  color: var(--color-font-dark);
  font-family: var(--font-family-title);
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 0px;
}
form.nephilim.item section.window-content > section article main ul {
  list-style-type: none;
}
form.nephilim.item section.window-content > section article main li {
  display: block;
}
form.nephilim.item section.window-content > section article main input {
  background: linear-gradient(rgba(0, 26, 77, 0.5), rgba(0, 26, 77, 0.5)), var(--background-article-bright);
  border-radius: 5px;
  color: var(--color-font-bright);
  margin-bottom: 10px;
}
form.nephilim.item section.window-content > section article main input:disabled {
  background: none;
  color: var(--color-font-dark);
  border: none;
}
form.nephilim.item section.window-content > section article main select {
  background: linear-gradient(rgba(0, 26, 77, 0.5), rgba(0, 26, 77, 0.5)), var(--background-article-bright);
  border-radius: 5px;
  color: var(--color-font-bright);
}
form.nephilim.item section.window-content > section article main option {
  background: var(--background-article-bright);
  color: var(--color-font-dark);
}
form.nephilim.item section.window-content > section article main .fas {
  margin-right: 10px;
}
