@font-face {
  font-family: "AJensonPro";
  src: url("../../systems/neph5e/assets/fonts/AJensonPro-Regular.otf");
}
@font-face {
  font-family: "AJensonProLtDisp";
  src: url("../../systems/neph5e/assets/fonts/AJensonPro-LtDisp.otf");
}
@font-face {
  font-family: "MinionPro";
  src: url("../../systems/neph5e/assets/fonts/MinionPro-Regular.otf");
}
@font-face {
  font-family: "Nightjar";
  src: url("../../systems/neph5e/assets/fonts/T-26 - Nightjar Regular.ttf");
}
@font-face {
  font-family: "NightjarDemi";
  src: url("../../systems/neph5e/assets/fonts/T-26 - Nightjar Demi.ttf");
}
.mixin-editing-content {
  background: linear-gradient(rgba(0, 26, 77, 0.5), rgba(0, 26, 77, 0.5)), var(--background-article-bright);
  border-radius: 5px;
  color: var(--color-font-bright);
}
.mixin-editing-bright-on-dark {
  background: var(--background-article-dark);
  color: var(--color-font-bright);
}
.mixin-editing-dark-on-bright {
  background: var(--background-article-bright);
  color: var(--color-font-dark);
}
form.nephilim {
  --background-article-bright: url("../../systems/neph5e/assets/skins/soleil/background.webp");
  --background-article-dark: url("../../systems/neph5e/assets/backgrounds/p.webp");
  --background-side-cercle: url("../../systems/neph5e/assets/core/side-competence.webp");
  --background-side-competence: url("../../systems/neph5e/assets/core/side-competence.webp");
  --background-side-periode: url("../../systems/neph5e/assets/core/side-periode.webp");
  --background-side-vecu: url("../../systems/neph5e/assets/core/side-vecu.webp");
  --color-font-bright: #f5f4f4;
  --color-font-dark: #191813;
  --color-scrollbar: #2f3557;
  --font-family-title: 'AJensonPro';
  --font-family-content: 'NightjarDemi';
}
form.nephilim section.window-content {
  flex-flow: unset;
  padding: 0px;
}
form.nephilim prose-mirror {
  position: sticky;
  top: 0;
  height: 100%;
}
form.nephilim prose-mirror .editor-content {
  background: linear-gradient(rgba(0, 26, 77, 0.5), rgba(0, 26, 77, 0.5)), var(--background-article-bright);
  border-radius: 5px;
  color: var(--color-font-bright);
  padding: 10px;
}
form.nephilim prose-mirror menu {
  background: var(--background-article-dark);
  color: var(--color-font-bright);
}
form.nephilim.item section.window-content > section {
  display: flex;
  flex-flow: unset;
  width: 100%;
}
form.nephilim.item section.window-content > section aside {
  flex: 0 0 auto;
  width: 41px;
  background-image: var(--background-side);
  background-repeat: no-repeat;
  box-shadow: 0 0 6px 0px var(--color-font-bright) inset;
}
form.nephilim.item section.window-content > section article {
  background: var(--background-article-bright);
  color: var(--color-font-dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-title);
  font-size: 16px;
  width: 100%;
}
form.nephilim.item section.window-content > section article header {
  background: var(--background-article-dark);
  color: var(--color-font-bright);
  display: flex;
  height: 60px;
  box-shadow: 0 0 6px 0px var(--color-font-bright) inset;
  width: 100%;
}
form.nephilim.item section.window-content > section article header input {
  background: initial;
  font-size: 30px;
  text-align: center;
  padding: 0px 10px 2px 10px;
  height: 100%;
  font-family: var(--font-family-content);
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-font-bright);
}
form.nephilim.item section.window-content > section article header img {
  flex: 0 0 auto;
  margin: 6px 6px 6px 6px;
  border-radius: 6px;
}
form.nephilim.item section.window-content > section article main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
}
form.nephilim.item section.window-content > section article main h1 {
  color: var(--color-font-dark);
  font-family: var(--font-family-title);
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 0px;
}
form.nephilim.item section.window-content > section article main ul {
  list-style-type: none;
}
form.nephilim.item section.window-content > section article main li {
  display: block;
}
form.nephilim.item section.window-content > section article main input {
  background: linear-gradient(rgba(0, 26, 77, 0.5), rgba(0, 26, 77, 0.5)), var(--background-article-bright);
  border-radius: 5px;
  color: var(--color-font-bright);
  margin-bottom: 10px;
}
form.nephilim.item section.window-content > section article main input:disabled {
  background: none;
  color: var(--color-font-dark);
  border: none;
}
form.nephilim.item section.window-content > section article main .fas {
  margin-right: 10px;
}
form.nephilim.item section.window-content > section article main .column-2 {
  column-count: 2;
}
