.soleil {
    --background-image-actor-side: url("../../systems/neph5e/assets/skins/soleil/side-background.webp");
    --font-side-color-actor-side: #191813;
    --img-article-separator: url("../../systems/neph5e/assets/skins/soleil/article-separator.webp");

    /*
    --background: url("../../systems/neph5e/assets/skins/soleil/background.webp") repeat;
    --side-background: url("../../systems/neph5e/assets/skins/soleil/side-background.webp");
    --img-article-corner: url("../../systems/neph5e/assets/skins/soleil/article-corner.webp");
    --img-nef: url("../../systems/neph5e/assets/skins/soleil/boussole.webp");
    --img-circle: url("../../systems/neph5e/assets/skins/soleil/circle.webp");
    --img-barge: url("../../systems/neph5e/assets/skins/soleil/compas.webp");
    --img-corner: url("../../systems/neph5e/assets/skins/soleil/corner.webp");
    --img-hole: url("../../systems/neph5e/assets/skins/soleil/hole.webp");
    --img-losange: url("../../systems/neph5e/assets/skins/soleil/losange.webp");
    --img-pin: url("../../systems/neph5e/assets/skins/soleil/pin.webp");
    --img-puce: url("../../systems/neph5e/assets/skins/soleil/puce.webp");
    --img-separator: url("../../systems/neph5e/assets/skins/soleil/separator.webp");
    --img-triangle: url("../../systems/neph5e/assets/skins/soleil/triangle.webp");
    */

}