<form class="ephemeride">

    <table>
        <tr>
            <th colspan="4">Ephéméride de l'année</th>
        </tr>
        <tr>
            <th>Mois</th>
            <th>Astre</th>
            <th>Grande Conjonction</th>
            <th>Ka</th>
        </tr>
        <tr>
            <td>Bélier (21 mars - 20 avril)</td>
            <td>Mars</td>
            <td>Mardi</td>
            <td>Feu</td>
        </tr>
        <tr>
            <td>Taureau (21 avril - 20 mai)</td>
            <td>Vénus</td>
            <td>Vendredi</td>
            <td>Terre</td>
        </tr>
        <tr>
            <td>Gémeaux (21 mai - 21 juin)</td>
            <td>Mercure</td>
            <td>Mercredi</td>
            <td>Eau</td>
        </tr>
        <tr>
            <td>Cancer (22 juin - 22 juillet)</td>
            <td>Lune</td>
            <td>Lundi</td>
            <td>Lune</td>
        </tr>
        <tr>
            <td>Lion (23 juillet - 22 août)</td>
            <td>Soleil</td>
            <td>Tous les jours</td>
            <td>Soleil</td>
        </tr>
        <tr>
            <td>Vierge (23 août - 22 septembre)</td>
            <td>Mercure</td>
            <td>Mercredi</td>
            <td>Eau</td>
        </tr>
        <tr>
            <td>Balance (23 septembre - 22 octobre)</td>
            <td>Vénus</td>
            <td>Vendredi</td>
            <td>Terre</td>
        </tr>
        <tr>
            <td>Scorpion (23 octobre - 21 novembre)</td>
            <td>Mars</td>
            <td>Mardi</td>
            <td>Feu</td>
        </tr>    
        <tr>
            <td>Sagittaire (22 novembre - 20 décembre)</td>
            <td>Jupiter</td>
            <td>Jeudi</td>
            <td>Air</td>
        </tr>   
        <tr>
            <td>Capricorne (21 décembre - 19 janvier)</td>
            <td>Lune</td>
            <td>Lundi</td>
            <td>Lune</td>
        </tr>   
        <tr>
            <td>Verseau (20 janvier - 18 février)</td>
            <td>Saturne</td>
            <td>Samedi</td>
            <td>Orichalque</td>
        </tr>   
         <tr>
            <td>Poisson (19 février - 20 mars)</td>
            <td>Jupiter</td>
            <td>Jeudi</td>
            <td>Air</td>
        </tr>  
    </table>


</form>