.tab.akasha {
    display: flex;
    flex-direction: row;
    padding-top: 20px;

    .column {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 10px;

        .header {
            display: flex;
            flex-direction: row;
            position: relative;
            font-family: 'AJensonPro';
            font-size: 21px;
            margin-top: 15px;
            margin-bottom: -10px;

            .puce {
                position: relative;
                top: var(--puce-top);
                border: none;
                width: 60px;
                background-color: transparent;
                content: var(--img-puce);
            }

            .separator {
                position: absolute;
                border: none;
                height: 4px;
                left: 55px;
                top: 32px;
                width: calc(100% - 65px);
                content: var(--img-separator);
            }

            .name {
                position: absolute;
                left: 70px;
                top: 2px;
                width: calc(100% - 65px);
            }

        }

        .directions {
            position: relative;
            margin-top: 80px;
            font-family: 'AJensonPro';
            font-size: 17px;

            .tooltip {

                input {
                    position: relative;
                    border: none;
                    width: 40px;
                    text-align: center;
                    background-color: transparent;
                    z-index: 99;
                }

                .tooltiptext {
                    z-index: 200;
                    top: 32px;
                    left: 180px;
                    height: 30px;
                }

                img {
                    position: absolute;
                    border: none;

                    &.disabled {
                        opacity: 0.2;
                    }

                    &.undeveloped {
                        opacity: 0.2;
                    }

                }

            }

            .nef {

                img {
                    width: var(--akasha-nef-width);
                    transform: var(--akasha-nef-transform);
                    content: var(--img-nef);
                }

            }

            .barge {

                img {
                    width: var(--akasha-barge-width);
                    transform: var(--akasha-barge-transform);
                    content: var(--img-barge);
                }

            }

            div {
                position: absolute;
                width: 200px;

                .circle {
                    border: none;
                    width: var(--akasha-circle-width);
                    height: 65px;
                    display: inline;
                    background-color: transparent;
                    content: var(--img-circle);
                }

                input {
                    width: 45px;
                    height: 45px;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 50%;
                    transform: var(--akasha-input-transform);
                    border: none;
                    background-color: transparent;
                    color: var(--font-color);

                    &:hover {
                        text-shadow: 0px 0px 1px var(--font-color);
                    }

                }

                label {
                    width: 150px;
                }

            }

            .zenith {
                transform: translate(169px, -20px);
                >label {
                    position: absolute;
                    transform: translate(-105px, -20px);
                }
            }

            .orient {
                transform: translate(310px, 60px);
                >label {
                    position: absolute;
                    transform: translate(-104px, -22px);
                }
            }

            .nadir {
                transform: translate(167px, 305px);
                >label {
                    position: absolute;
                    transform: translate(-104px, 70px);
                }
            }

            .occident {
                transform: translate(25px, 226px);
                >label {
                    position: absolute;
                    transform: translate(-116px, 70px);
                }
            }

            .midi {
                transform: translate(28px, 62px);
                >label {
                    position: absolute;
                    transform: translate(-99px, -20px);
                }
            }

            .septentrion {
                transform: translate(307px, 225px);
                >label {
                    position: absolute;
                    transform: translate(-122px, 70px);
                }
            }

        }

    }

}