.tab.selenim {
    flex-direction: row;
    display: flex;
    padding-top: 20px;

    .header {
        display: flex;
        flex-direction: row;
        position: relative;
        font-family: 'AJensonPro';
        font-size: 21px;
        margin-top: 15px;
        margin-bottom: -10px;
        width: 100%;

        .puce {
            position: relative;
            top: var(--puce-top);
            border: none;
            width: 60px;
            display: hidden;
            background-color: transparent;
            content: var(--img-puce);
        }

        .separator {
            position: absolute;
            border: none;
            height: 4px;
            left: 55px;
            top: 32px;
            width: calc(100% - 55px);
            content: var(--img-separator);
        }

        .name {
            position: absolute;
            left: 70px;
            top: 2px;
            width: calc(100% - 65px);
        }

    }

    .header-with-value {
        display: flex;
        flex-direction: row;
        position: relative;
        font-family: 'AJensonPro';
        font-size: 21px;
        margin-bottom: var(--selenim-imago-bottom);

        .circle {
            position: relative;
            border: none;
            width: var(--selenim-imago-width);
            height: var(--selenim-imago-height);
            top: var(--selenim-imago-top);
            left: var(--selenim-imago-left);
            background-color: transparent;
            content: var(--img-circle);

        }

        .separator {
            position: absolute;
            border: none;
            height: 4px;
            left: 70px;
            top: 46px;
            width: calc(100% - 70px);
            content: var(--img-separator);
        }

        .degre {
            position: absolute;
            width: 45px;
            height: 45px;
            left: 8px;
            top: 9px;
            text-align: center;
            font-weight: bold;
            padding-top: 12px;
            border-radius: 50%;
            background-color: transparent;
            border: none;
            font-size: 20px;
        }

        .name {
            display: flex;
            flex-direction: row;
            position: absolute;
            left: 70px;
            top: 17px;
            text-align: left;
            flex: 1 1 auto;
            border: none;
            background-color: transparent;
            width: calc(100% - 70px);
        }

    }

    .left {
        display: flex;
        flex-direction: column;
        width: 450px;

        .noyau {

            .body {
                position: relative;
                text-align: center;
                margin-left: 55px;
                margin-top: 30px;
                font-family: 'AJensonPro';

                img {
                    border: 0px;
                }

                .elements {
                    list-style: none;

                    .element {
                        position: absolute;

                        &.noyau {
                            top: 15px;
                            left: 20px;
                        }

                        &.pavane {
                            top: 32px;
                            left: 307px;
                        }

                        &.reserves {
                            top: 248px;
                            left: 183px;

                            .circle {
                                width: var(--selenim-width-circle);
                                height: var(--selenim-height-circle);
                            }

                            .tooltip {
                                top: var(--selenim-reserves-tooltip-top);
                                left: var(--selenim-reserves-tooltip-left);
                            }

                            .separator {
                                top: var(--selenim-reserves-separator-top);
                                left: var(--selenim-reserves-separator-left);
                            }

                        }

                        .circle {
                            position: relative;
                            border: none;
                            width: var(--nephilim-width-circle);
                            height: var(--nephilim-height-circle);
                            top: var(--selenim-top-circle);
                            left: var(--selenim-left-circle);
                            background-color: transparent;
                            max-width: none;
                            content: var(--img-circle);
                        }

                        .dice {
                            position: absolute;
                            top: var(--selenim-element-dice-top);
                            left: var(--selenim-element-dice-left);
                            font-size: 14px;
                        }

                        .tooltip {
                            position: absolute;
                            top: var(--selenim-element-tooltip-top);
                            left: var(--selenim-element-tooltip-left);

                            input {
                                color: var(--font-color);
                                background-color: transparent;
                                font-size: 20px;
                                border: 0px;
                                width: 40px;
                                text-align: left;
                            }

                        }

                    }

                }

                .macro {

                    .dice {
                        position: absolute;
                        top: 50%;
                        left: 50%;

                        &.noyau {
                            transform: translate(-120px, 115px);
                        }

                        &.pavane {
                            transform: translate(-90px, -100px);
                        }

                    }

                }

                .tooltip {
                    position: absolute;
                    top: 50%; 
                    left: 50%;

                    &.pavane {
                        transform: translate(-80px, -105px);
                    }

                    &.noyau {
                        transform: translate(-110px, 110px);
                    }

                    &.reserveCourante {
                        transform: translate(60px, 80px);
                    }

                    &.reserveMaximale {
                        transform: translate(100px, 80px);
                    }

                    input {
                        background-color: transparent;
                        font-size: 20px;
                        font-weight: bold;
                        border: 0px;
                        width: 40px;
                        text-align: center;
                    }

                }

                .separator {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(97px, 80px);
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                }

            }

        }

    }

    .right {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-right: 10px;
        width: calc(100% - 500px);

        .imago {

            .body {
                display: flex;
                flex-direction: column;

                .aspect {
                    display: flex;
                    flex-direction: row;
                    margin-left: 10px;
                    list-style: none;
                    font-family: 'AJensonPro';
                    font-size: 16px;
                    overflow: hidden; 
                    white-space: nowrap; 
                    text-overflow: ellipsis;

                    .visible {
                        font-size: 13px;
                        width: 40px;
                        flex: 0 0 auto;
                        margin-top: 4px;
                    }

                    .name {
                        width: calc(100% - 65px);
                    }

                    .delete {
                        font-size: 13px;
                    }

                    &:hover {
                        text-shadow: 0px 0px 1px var(--font-color);
                    }

                }

            }

        }

        .attributs {

            .body {
                display: flex;
                flex-direction: column;

                .attribut {
                    display: flex;
                    flex-direction: row;
                    margin-left: 10px;
                    list-style: none;
                    font-family: 'AJensonPro';
                    font-size: 16px;
                    overflow: hidden; 
                    white-space: nowrap; 
                    text-overflow: ellipsis;

                    .value {
                        width: 40px;
                        flex: 0 0 auto;
                    }

                    .name {
                        width: calc(100% - 50px);
                    }

                    &:hover {
                        text-shadow: 0px 0px 1px var(--font-color);
                    }

                }

            }

        }

    }

}