{{#if (displaySciencesOf actor 'analogie' true)}}
<ol class="cercles">

    {{#with actor.voieMagique}}
    <div class="voie">
        <label>{{name}}</label>
    </div>
    {{/with}}

    {{#if (displayScience actor "comprendre")}}
    {{#with (science actor "comprendre") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle="Comprendre" degre=degre cercle-id="comprendre"}}
        <ol class="all-focus">
        {{#each (focus ../actor 'comprendre') as |item|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "controler")}}
    {{#with (science actor "controler") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle="Contrôler" degre=degre cercle-id="controler"}}
        <ol class="all-focus">
        {{#each (focus ../actor 'controler') as |item|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "creer")}}
    {{#with (science actor "creer") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle="Créer" degre=degre cercle-id="creer"}}
        <ol class="all-focus">
        {{#each (focus ../actor 'creer') as |item|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "detruire")}}
    {{#with (science actor "detruire") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle="Détruire" degre=degre cercle-id="detruire"}}
        <ol class="all-focus">
        {{#each (focus ../actor 'detruire') as |item|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "transformer")}}
    {{#with (science actor "transformer") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle="Transformer" degre=degre cercle-id="transformer"}}
        <ol class="all-focus">
        {{#each (focus ../actor 'transformer') as |item|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#each (cerclesOf 'analogie' false) as |name key|}}
    {{#if (displayScience ../actor key)}}
    {{#with (science ../actor key) as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle=name degre=degre cercle-id=key}}
        <ol class="all-focus">
        {{#each (focus ../../actor key) as |item|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}
    {{/each}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}