{{#with (cercles actor "analogie") as |cercles|}}
{{#if cercles.display}}  
<ol class="cercles">

    {{#with actor.voieMagique}}
    <div class="voie">
        <label>{{name}}</label>
    </div>
    {{/with}}

    {{#with cercles.comprendre as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.controler as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.creer as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.detruire as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.transformer as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    <!--
    {{#each (cerclesOf 'analogie' false) as |name key|}}
    {{#if (displayScience ../actor key)}}
    {{#with (science ../actor key) as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/analogie/actor/cercle.hbs" cercle=name degre=degre cercle-id=key}}
        <ol class="all-focus">
        {{#each (focus ../../actor key) as |item|}}
            {{> "systems/neph5e/feature/analogie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}
    {{/each}}
    -->

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}