.actor {

    .window-content {
        background: var(--background);
        color: var(--font-color);

        .actor-root {
            display: flex;
            flex-direction: row;
            height: 100%;
        
            .tooltip {
                position: relative;
                display: inline-block;
            
                .tooltiptext {
                    visibility: hidden;
                    width: 120px;
                    background-color: #555;
                    color: #fff;
                    text-align: center;
                    padding: 5px;
                    border-radius: 6px;
                    position: absolute;
                    z-index: 200;
                    bottom: 125%;
                    left: 50%;
                    margin-left: -60px;
                    opacity: 1;
                    transition: opacity 0.3s;
                    background-image: linear-gradient(to bottom, var(--incarnations-menu-first-color) 0%, var(--incarnations-menu-second-color) 100%);
                    box-shadow: 3px 3px 3px #999;
                    border: solid 1px #333A40;
                    font-size: 16px;
            
                    &:after {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: #555 transparent transparent transparent;
                    }
            
                }
            
                &:hover .tooltiptext {
                    visibility: visible;
                    opacity: 1;
                }

            }
        
            .hoverable {
        
                &:hover {
                    text-shadow: 0 0 10px #2C606D;
                    color: #2C606D;
                }
            
            }
        
            .side {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 170px;
                position: relative;
                font-family: 'AJensonPro';
                font-size: 23px;
                font-weight: bolder;
                color: var(--font-side-color);

                .image {
                    margin-top: 25px;
                    width: 150px;
                    border: 0px;
                    position: relative;
                }

                .lock-checkbox {
                    flex: none;
                    margin-left: 130px;
                    margin-top: -22px;
                    font-size: 19px;
                    z-index: 99;

                    input[type="checkbox"] {
                        display:none;
                    }

                    .checked {
                        display: none;
                    }
                
                    input[type="checkbox"]:checked ~ .checked {
                        display: inline-block;
                    }
                     
                    input[type="checkbox"]:checked ~ .unchecked {
                        display: none;
                    }

                    &:hover {
                        text-shadow: 0px 0px 3px var(--font-color);
                    }
                
                }

                .soleil {
                    margin-top: 20px;
                    margin-left: 35px;
                    display: flex;
                    justify-content: center;

                    .circle {
                        border: none;
                        background-color: transparent;
                        max-width: none;
                        width: 85px;
                        height: 85px;
                        color: var(--font-color);
                        width: var(--soleil-circle-width);
                        height: var(--soleil-circle-height);
                        content: var(--img-circle);
                    }

                    .dice {
                        position: absolute;
                        top: 7px;
                        left: -14px;
                        font-size: 14px;
                        color: var(--font-color);
                    }

                    .tooltip {
                        top: var(--soleil-tooltip-margin-top);
                        left: var(--soleil-tooltip-margin-left);

                        .tooltiptext {
                            bottom: 10%;
                            left: 258%;

                            &:after {
                                margin-top: -67px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: #555 transparent transparent transparent;
                            }

                        }

                        input {
                            background-color: transparent;
                            font-size: 20px;
                            border: 0px;
                            width: 40px;
                            text-align: left;
                            color: var(--font-color);
                        }

                    }

                }

                .sheet-navigation {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-top:25px;
                    flex: 0 0 30px;
                    position: relative;
                    margin-bottom: 5px;
        
                    .sheet-navigation-choice {
                        display: flex;
                        flex-direction: row;
                        position: relative;
        
                        .sheet-navigation-tab {
                            width: 170px;
                        }
        
                        .sheet-navigation-tab.active {
                            color: var(--font-side-selected-color);
                            ~ .sheet-navigation-hole {
                                visibility: hidden;
                                opacity: 0;
                                transition: visibility 0s, opacity 0s linear;
                            }
                        }
        
                        .sheet-navigation-tab:not(.active) {
                            ~ .sheet-navigation-pin {
                                visibility: hidden;
                                opacity: 0;
                                transition: visibility 0.3s, opacity 0.3s linear;
                            }
                        }
        
                        .sheet-navigation-pin {
                            position: absolute;
                            top: 7px;
                            left: 161px;
                            width: 17px;
                            border: none;
                            visibility: visible;
                            opacity: 1;
                            transition: visibility 0.3s, opacity 0.3s linear;
                            content: var(--img-pin);
                        }
        
                        .sheet-navigation-hole {
                            position: absolute;
                            top: 7px;
                            left: 161px;
                            width: 17px;
                            border: none;
                            visibility: visible;
                            opacity: 1;
                            transition: visibility 0.3s, opacity 0.3s linear;
                            content: var(--img-hole);
                        }
        
                    }
                    
                    .sheet-navigation-tab:hover {
                        text-shadow: 0px 0px 3px var(--shadow-navigation-color);
                    }
        
                    .sheet-navigation-image {
                        margin-top: 20px;
                        width: 50px;
                        border: 0px;
                        position: relative;
                    }
        
                }

                &::before {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    content: "";
                    background:
                        var(--side-background);
                        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0)));
                }

            }
        
            .article {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                width: 100%;
                height: 100%;
        
                .article-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    .article-title {
                        resize: none;
                        text-align: center;
                        border: 0px;
                        background-color: transparent;
                        font-family: 'NightjarDemi';
                        font-size: 35px;
                        color: var(--font-article-title);
                        vertical-align: middle;
                        box-shadow: none;
                    }
        
                    .article-separator {
                        border: 0px;
                        width: 200px;
                        margin-top: var(--article-separator-margin-top);
                        content: var(--img-article-separator);
        
                    }

                }
        
                .article-body {
                    height: 100%;

                    div.tab[data-tab="description"] {
                        height: 100%;

                        .editor {
                            height: 100%;
                        }

                    }

                    .article-upper-corner {
                        position: absolute;
                        background-color: transparent;
                        right: 0px;
                        top: 30px;
                        width: 150px;
                        overflow: hidden;
                        border: none;
                        content: var(--img-article-corner);
                    }

                    .article-bottom-corner {
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        border: none;
                        width: 120px;
                        content: var(--img-corner);
                    }
                
                    .capacites {
        
                        .header {
                            display: flex;
                            flex-direction: row;
                            position: relative;
                            font-family: 'AJensonPro';
                            font-size: 21px;
                            margin-bottom: -10px;
        
                            .circle {
                                position: absolute;
                                border: none;
                                width: 60px;
                                height: 65px;
                                display: hidden;
                                content: var(--img-circle);
                            }
        
                            .separator {
                                position: absolute;
                                border: none;
                                height: 4px;
                                left: 70px;
                                top: 46px;
                                width: calc(100% - 80px);
                                content: var(--img-separator);
                            }
        
                            .degre {
                                position: absolute;
                                width: 45px;
                                height: 45px;
                                left: 8px;
                                top: 13px;
                                text-align: center;
                                font-weight: bold;
                                padding-top: 12px;
                                border-radius: 50%;
                                box-shadow: inset 0 0 1em #ffe44cd6, 0 0 1em #ffb100a3;
                            }
        
                            .folder {
                                display: flex;
                                flex-direction: row;
                                flex: 1 1 auto;
                                position: absolute;
                                left: 100px;
                                top: 15px;
                                width: calc(100% - 80px);
                                font-family: 'NightjarDemi';
                                font-size: 27px;
                            }
        
                        }
        
                        .body {
                            padding-left: 0px;
                            padding-top: 70px;
        
                            .capacite {
                                display: flex;
                                flex-direction: column;
                                font-family: 'AJensonPro';
                                margin-top: 20px;
        
                                .title {
                                    display: flex;
                                    flex-direction: row;
        
                                    .pin {
                                        border: none;
                                        width: 26px;
                                        margin-left: 50px;
                                        display: hidden;
                                        background-color: transparent;
                                        content: var(--img-pin);
                                    }
        
                                    .name {
                                        flex: 1 1 auto;
                                        text-align: left;
                                        padding-left: 20px;
                                        overflow: hidden; 
                                        white-space: nowrap; 
                                        text-overflow: ellipsis;
                                        font-size: 20px;
                                    }
        
                                }
        
                                .description {
                                    list-style: none;
                                    width: calc(100% - 100px);
                                    margin-left: 85px;
                                    font-size: 15px;
                                }
        
                            }
        
                        }
        
                    }
        
                    .groups {

                        .group {

                            .header {
                                display: flex;
                                flex-direction: row;
                                position: relative;
                                font-family: 'AJensonPro';
                                font-size: 21px;
                                margin-bottom: -10px;

                                .circle {
                                    border: none;
                                    width: 60px;
                                    height: 65px;
                                    background-color: transparent;
                                    content: var(--img-circle);
                                }

                                .separator {
                                    position: absolute;
                                    border: none;
                                    height: 4px;
                                    left: 70px;
                                    top: 46px;
                                    width: calc(100% - 70px);
                                    content: var(--img-separator);
                                }

                                .degre {
                                    position: absolute;
                                    width: 45px;
                                    height: 45px;
                                    left: 8px;
                                    top: 9px;
                                    text-align: center;
                                    font-weight: bold;
                                    padding-top: 12px;
                                    border-radius: 50%;
                                    background-color: transparent;
                                    border: none;
                                    font-size: 20px;
                                }

                                .name {
                                    display: flex;
                                    flex-direction: row;
                                    position: absolute;
                                    left: 70px;
                                    top: 17px;
                                    text-align: left;
                                    flex: 1 1 auto;
                                    border: none;
                                    background-color: transparent;
                                    width: calc(100% - 70px);
                                }

                            }

                            .body {
                                list-style: none;

                                .item {
                                    display: flex;
                                    flex-direction: row;
                                    margin-left: 10px;
                                    list-style: none;
                                    font-family: 'AJensonPro';
                                    font-size: 16px;
                                    overflow: hidden; 
                                    white-space: nowrap; 
                                    text-overflow: ellipsis;
                
                                    .name {
                                        width: 100%;
                                    }

                                    .icon {
                                        font-size: 13px;
                                        width: 30px;
                                        margin-right: 20px;
                                    }

                                    &:hover {
                                        text-shadow: 0px 0px 1px var(--font-color);
                                    }
                                    
                                }

                            }

                        }

                    }

                    .options {
                        display: flex;
                        flex-direction: row;
                        padding-top: 20px;
            
                        .options-column {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            margin-right: 10px;
        
                            .options-group {
                                width: 100%;
                                margin-left: 20px;
                                margin-top: 10px;
                                font-family: 'AJensonPro';
                                font-size: 20px;
        
                                .header {
                                    position: relative;
                                    display: flex;
                                    flex-direction: row;
                                    font-family: 'AJensonPro';
                                    font-size: 21px;
                                    margin-top: 15px;
                                    margin-bottom: var(--options-body-margin-bottom);
        
                                    .puce {
                                        position: relative;
                                        top: var(--puce-top);
                                        border: none;
                                        width: 60px;
                                        background-color: transparent;
                                        content: var(--img-puce);
                                    }
                
                                    .separator {
                                        position: absolute;
                                        border: none;
                                        height: 4px;
                                        left: 55px;
                                        top: 32px;
                                        width: calc(100% - 65px);
                                        content: var(--img-separator);
                                    }
                
                                    .options-name {
                                        position: absolute;
                                        left: 70px;
                                        top: 2px;
                                        width: calc(100% - 65px);
                                    }
        
                                    .theme {
                                        border: none;
                                        outline: 0px;
                                        background-color: transparent;
                                        -webkit-appearance: none;
                                        appearance: none;
                                        background-size: 24px;
                                        background-repeat: no-repeat;
                                        background-position: calc(100% - 8px) center;
                                        font-family: 'AJensonPro';
                                        font-size: 16px;
                                        margin-left: calc(100% - 185px);
                                        z-index: 99;

                                        &:hover {
                                            text-shadow: 0px 0px 1px var(--font-color);
                                        }

                                    }
        
                                }
        
                                fieldset {
                                    border: none;
                                    margin-left: 10px;
                                }

                                .body {
                                    position: relative;
                                    font-family: 'AJensonPro';
                                    font-size: 16px;
                                    list-style: none;
                                    margin-top: var(--options-body-margin-top);
        
                                    .option {
                                        display: flex;
                                        flex-direction: row;
        
                                        .option-checkbox {
                                            flex: none;
                                            margin-left: 22px;
                                            margin-right: 20px;
                                            font-size: 11px;
                                            padding-top: 3px;

                                            input[type="checkbox"] {
                                                display:none;
                                            }
                                        
                                            .checked {
                                                display: none;
                                            }
                                        
                                            input[type="checkbox"]:checked ~ .checked {
                                                display: inline-block;
                                            }
                                             
                                            input[type="checkbox"]:checked ~ .unchecked {
                                                display: none;
                                            }

                                        }

                                        &:hover {
                                            text-shadow: 0px 0px 1px var(--font-color);
                                        }

                                        input[type="radio"].option-checkbox {
                                            display: block;
                                            border-radius: 50%;
                                            font-size: 11px;
                                            width: 11px;
                                            height: 11px;
                                            color: var(--font-color);
                                            padding-top: 0px;

                                            &:hover {
                                                text-shadow: 0px 0px 1px var(--font-color);
                                            }

                                            &:before {
                                                font-size: 11px;
                                                width: 11px;
                                                height: 11px;
                                            }

                                            &:after {
                                                font-size: 11px;
                                                width: 11px;
                                                height: 11px;
                                            }

                                            &:checked {

                                                &:before {
                                                    content: none;
                                                }

                                                &:after {
                                                    color: var(--font-color);
                                                    border-radius: 50%;
                                                    background-color: var(--font-color);
                                                }
                                            }

                                        }

                                    }
        
                                }
        
                            }
        
                        }
            
                    }

                }
                
                .nofocus {
                    display: flex;
                    flex-direction: column;
                    margin-top: 200px;
                    text-align: center;
                    color:indianred;
        
                    label {
                        margin-left: 100px;
                        margin-right:100px;
                    }
        
                    i {
                        margin-top:50px;
                    }
        
                }

                .nofocus.no-margin {
                    margin-top: 20px;
                }

            }
        
        }

    }

}