<div class="options">

    <div class="options-column">

        <div class="options-group">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <label class="options-name">{{localize "NEPH5E.theme"}}</label>

            </div>

            <fieldset class="body">

                <div class="option">
                    <input class="theme option-checkbox" type="radio" name="system.options.theme" value="air" {{#if (eq system.options.theme "air")}}checked{{/if}}>
                    <label for="system.options.theme"><i class="fa-solid fa-person-digging"></i> Air</label>
                </div>

                <div class="option">
                    <input class="theme option-checkbox" type="radio" name="system.options.theme" value="eau" {{#if (eq system.options.theme "eau")}}checked{{/if}}/>
                    <label for="system.options.theme"><i class="fa-solid fa-person-digging"></i> Eau</label>
                </div>

                <div class="option">
                    <input class="theme option-checkbox" type="radio" name="system.options.theme" value="feu" {{#if (eq system.options.theme "feu")}}checked{{/if}}/>
                    <label for="system.options.theme"><i class="fa-solid"></i> Feu</label>
                </div>

                <div class="option">
                    <input class="theme option-checkbox" type="radio" name="system.options.theme" value="lune" {{#if (eq system.options.theme "lune")}}checked{{/if}}/>
                    <label for="system.options.theme"><i class="fa-solid"></i> Lune</label>
                </div>

                <div class="option">
                    <input class="theme option-checkbox" type="radio" name="system.options.theme" value="lune-noire" {{#if (eq system.options.theme "lune-noire")}}checked{{/if}}/>
                    <label for="system.options.theme"><i class="fa-solid fa-person-digging"></i> Lune noire</label>
                </div>

                <div class="option">
                    <input class="theme option-checkbox" type="radio" name="system.options.theme" value="soleil" {{#if (eq system.options.theme "soleil")}}checked{{/if}}/>
                    <label for="system.options.theme">Soleil</label>
                </div>

                <div class="option">
                    <input class="theme option-checkbox" type="radio" name="system.options.theme" value="terre" {{#if (eq system.options.theme "terre")}}checked{{/if}}/>
                    <label for="system.options.theme"><i class="fa-solid"></i> Terre</label>
                </div>

            </fieldset>

        </div>

    </div>

    <div class="options-column">

    </div>

</div>