{{#with (cercles actor "magie") as |cercles|}}
{{#if cercles.display}}  
<ol class="cercles">

    {{#with cercles.basseMagie as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/magie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/magie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.hauteMagie as |cercle|}}
    {{#if cercle.display}}
    {{#with ../../actor.voieMagique}}
    <div class="voie">
        <label>{{name}}</label>
    </div>
    {{/with}}

    <div class="cercle">
        {{> "systems/neph5e/feature/magie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/magie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.grandSecret as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/magie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/magie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}