{{#with (cercles actor "magie") as |cercles|}}
{{#if (gt cercles.length 0)}} 
<ol class="cercles">

    {{#each cercles as |cercle|}}

        {{#if (nonNull cercle.voie)}}
        <div class="voie">
            <label>{{cercle.voie.name}}</label>
        </div>
        {{/if}}

        <div class="cercle">
            {{> "systems/neph5e/feature/magie/actor/cercle.hbs" cercle=cercle}}
            <ol class="all-focus">
            {{#each cercle.focus as |focus|}}
                {{> "systems/neph5e/feature/magie/actor/focus.hbs" item=focus}}
            {{/each}}
            </ol>
        </div>

    {{/each}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}