<li class="direction">
    <input
        name={{input-name}}
        type="text"
        value="{{input-value}}"
        data-dtype="Number"/>
    <div class="circleHidden">
        <div class="circleContent">+{{getLevel input-value}}</div>
    </div>
    <label>{{name}}</label>
</li>