<div class="content">

    <div class="column">

        <div class="sectionTitleUnderline">
            <span>{{localize "NEPH5E.akasha"}}</span>
        </div>

        <ol class="item-list">

            {{> "systems/neph5e/feature/akasha/actor/vaisseau.hbs" name="NEPH5E.nef" input-name="system.akasha.nef.active" input-value=actor.system.akasha.nef.active}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Septentrion" input-name="system.akasha.boussole.septentrion" input-value=actor.system.akasha.boussole.septentrion}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Orient" input-name="system.akasha.boussole.orient" input-value=actor.system.akasha.boussole.orient}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Midi" input-name="system.akasha.boussole.midi" input-value=actor.system.akasha.boussole.midi}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Occident" input-name="system.akasha.boussole.occident" input-value=actor.system.akasha.boussole.occident}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Zenith" input-name="system.akasha.boussole.zenith" input-value=actor.system.akasha.boussole.zenith}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Nadir" input-name="system.akasha.boussole.nadir" input-value=actor.system.akasha.boussole.nadir}}

        </ol>

    </div>

    <div class="column">

        <div class="sectionTitleUnderline">
            <span>{{localize "NEPH5E.antiTerre"}}</span>
        </div>

        <ol class="item-list">

            {{> "systems/neph5e/feature/akasha/actor/vaisseau.hbs" name="NEPH5E.barge" input-name="system.akasha.barge.active" input-value=actor.system.akasha.barge.active}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Septentrion" input-name="system.akasha.compas.septentrion" input-value=actor.system.akasha.compas.septentrion}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Orient" input-name="system.akasha.compas.orient" input-value=actor.system.akasha.compas.orient}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Midi" input-name="system.akasha.compas.midi" input-value=actor.system.akasha.compas.midi}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Occident" input-name="system.akasha.compas.occident" input-value=actor.system.akasha.compas.occident}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Zenith" input-name="system.akasha.compas.zenith" input-value=actor.system.akasha.compas.zenith}}

            {{> "systems/neph5e/feature/akasha/actor/direction.hbs" name="Nadir" input-name="system.akasha.compas.nadir" input-value=actor.system.akasha.compas.nadir}}

        </ol>

    </div>

</div>