<li class="item vaisseau">
    <label class="hand-checkbox">
        <input
            class="item-checkbox" 
            name={{input-name}}
            type="checkbox"
            {{checked input-value}}
            data-dtype="Boolean"/>
        <i class="far fa-circle unchecked"></i>
        <i class="fas fa-circle checked"></i>
    </label>
    <label class="item-name">{{localize name}}</label>
</li>