<div class="options">

    <div class="options-column">

        <div class="options-group">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <span class="options-name">{{localize "NEPH5E.fraternite"}}</span>

            </div>

            <ol class="body">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.active" name="system.options.active" value=system.options.active}}

            </ol>

        </div>

    </div>

    <div class="options-column">

        <div class="options-group">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <span class="options-name">{{localize "NEPH5E.affichage"}}</span>

            </div>

            <ol class="body">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.chronologieDescendante" name="system.options.chronologieDescendante" value=system.options.chronologieDescendante}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.incarnationsOuvertes" name="system.options.incarnationsOuvertes" class="incarnationsOuvertes" value=system.options.incarnationsOuvertes}}

            </ol>

        </div>

    </div>

</div>