<div class="ressources groups">

    {{#each (sciences) as |science|}}
    {{#with (numberOfFocus ../actor science) as |size|}}
    {{#if (gt size 0)}}
    <div class="group">

        <div class="header">

            <img class="circle"/>

            <div class="degre">{{size}}</div>

            <img class="separator"/>

            <label class="name">{{localize (concat "NEPH5E." science)}}</label>

        </div>

        <ol class="body">

            {{#each (focus ../../actor science) as |focus|}}
            <li class="item" data-id="{{membre.id}}">

                <a class="icon"><i class="fas fa-scroll"></i></a>
            
                <label class="name open">{{focus.original.name}}</label>

            </li>
            {{/each}}

        </ol>

    </div>
    {{/if}}
    {{/with}}
    {{/each}}

</div>