<div class="header">

    <input
        name="system.id"
        type="hidden"
        value="{{system.id}}"
        data-dtype="String"/>

    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

</div>