<li class="option">

    <label class="option-checkbox">
        <input
            {{#if class}}class="{{class}}"{{/if}} 
            {{#if value}}checked{{/if}}
            name="{{name}}"
            type="checkbox"
            data-dtype="Boolean"/>
        <i class="far fa-circle unchecked"></i>
        <i class="fas fa-circle checked"></i>
    </label>

    <label>{{localize label}}</label>

</li>

