<form>
    <div style="display:flex; flex-direction: column; width:300px">

        <span style="font-weight: bold;">Spécial</span>

        <div>
            <input type="checkbox" id="desoriente" name="desoriente" {{checked effects.desoriente}}>
            <label for="desoriente">Désorienté</label>
        </div>

        <div>
            <input type="checkbox" id="immobilise" name="immobilise" {{checked effects.immobilise}}>
            <label for="immobilise">Immobilisé</label>
        </div>

        <div>
            <input type="checkbox" id="projete" name="projete" {{checked effects.projete}}>
            <label for="projete">A terre</label>
        </div>

        <br>

    </div>

</form>