<div style="
    border: 3px solid rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;">
    <div style="
        display: flex;
        justify-content: center;
        align-items: center;">
        <img style="
            margin-top: 5px;
            margin-bottom: 5px;
            width: 30%;
            height: auto;"
            src="{{actor.data.img}}"/>
    </div>
    <div style="
        padding: 5px;
        text-align: center">
        <span>{{actor.data.name}} {{sentence}}</span>
    </div>
</div>