{{#with (cercles actor "baton") as |cercles|}}
{{#if cercles.display}}  
<ol class="cercles">

    <!--
    {{#each (cerclesOf 'technique' false) as |name key|}}
    {{#if (displayScience ../actor key)}}
    {{#with (science ../actor key) as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/baton/actor/cercle.hbs" cercle=name degre=degre cercle-id=key}}
        <ol class="all-focus">
        {{#each (focus ../../actor key) as |item|}}
            {{> "systems/neph5e/feature/baton/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}
    {{/each}}
    -->

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}