{{#if (displaySciencesOf actor 'rituel' true)}}
<ol class="cercles">

    {{#each (cerclesOf 'rituel' false) as |name key|}}
    {{#if (displayScience ../actor key)}}
    {{#with (science ../actor key) as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/epee/actor/cercle.hbs" cercle=name degre=degre cercle-id=key sciencesOccultes=../../sciencesOccultes}}
        <ol class="cercle-all-focus">
        {{#each (focus ../../actor key) as |item|}}
            {{> "systems/neph5e/feature/epee/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}
    {{/each}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}