<form class="{{cssClass}}" autocomplete="off">

    <input
        name="system.id"
        type="hidden"
        value="{{system.id}}"
        data-dtype="String"/>

    <div class="actor-root">
    
        <div class="side">
        
            <img class="image" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

            <label class="lock-checkbox">
                <input
                    name="system.options.locked"
                    value="{{system.options.locked}}"
                    type="checkbox"
                    {{checked system.options.locked}}
                    data-dtype="Boolean"/>
                <i class="fa-solid fa-lock-open unchecked"></i>
                <i class="fa-solid fa-lock checked"></i>
            </label>

            <nav class="sheet-navigation" data-group="primary">

                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="description">{{localize "NEPH5E.description"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>

                {{#if editable}}

                {{#if (eq system.options.nephilim true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="nephilim">{{localize "NEPH5E.nephilim"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.selenim true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="selenim">{{localize "NEPH5E.selenim"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.vecus true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="vecus">{{localize "NEPH5E.vecus"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.combat true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="combat">{{localize "NEPH5E.combat"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.capacites true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="capacites">{{localize "NEPH5E.capacites"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.magie true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="magie">{{localize "NEPH5E.magie.science"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.analogie true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="analogie">{{localize "NEPH5E.analogie"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.kabbale true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="kabbale">{{localize "NEPH5E.kabbale.science"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="arbre">{{localize "NEPH5E.arbre"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{#if (gt actor.ordonnances.items.length 0)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="ordonnances">{{localize "NEPH5E.ordonnances"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}
                {{/if}}

                {{#if (eq system.options.alchimie true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="alchimie">{{localize "NEPH5E.alchimie.science"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="laboratoire">{{localize "NEPH5E.alchimie.laboratoire"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="materiae">{{localize "NEPH5E.materiae"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.dracomachie true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="dracomachie">{{localize "NEPH5E.dracomachie"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.necromancie true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="necromancie">{{localize "NEPH5E.necromancie.science"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.conjuration true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="conjuration">{{localize "NEPH5E.conjuration.science"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.bohemien true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="bohemien">{{localize "NEPH5E.bohemien"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.baton true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="baton">{{localize "NEPH5E.baton.baton"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.coupe true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="coupe">{{localize "NEPH5E.coupe.coupe"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.denier true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="denier">{{localize "NEPH5E.denier.denier"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.epee true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="epee">{{localize "NEPH5E.epee.epee"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.akasha true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="akasha">{{localize "NEPH5E.akasha"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.atlanteide true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="atlanteide">{{localize "NEPH5E.atlanteide"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                {{#if (eq system.options.incarnations true)}}
                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="incarnations">{{localize "NEPH5E.incarnations"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>
                {{/if}}

                <div class="sheet-navigation-choice">
                    <a class="sheet-navigation-tab" data-tab="options">{{localize "NEPH5E.options"}}</a>
                    <img class="sheet-navigation-pin"/>
                    <img class="sheet-navigation-hole"/>
                </div>

                {{#if (eq system.options.soleil true)}}
                <div class="element macro soleil" data-macro="ka" data-id="soleil">
                    <img class="circle"/>
                    
                    <div class="tooltip">
                        <input
                            name="system.ka.soleil"
                            type="text"
                            value="{{system.ka.soleil}}"
                            data-dtype="Number"/>
                        <span class="tooltiptext">{{localize "NEPH5E.soleil"}}</span>
                        <a class="dice"><i class="fas fa-dice-d20"></i></a>
                    </div>
                </div>
                {{/if}}

                {{#if (and (eq system.options.simulacre true) (nonNull simulacre.name))}}
                <img class="sheet-navigation-image" src="{{simulacre.img}}" data-edit="img"/>
                <a class="sheet-navigation-tab" data-tab="actor" data-id="{{simulacre.id}}">{{simulacre.name}}</a>
                {{/if}}

                {{#if (eq system.options.fraternites true)}}
                {{#each actor.fraternites as |fraternite|}}
                <img class="sheet-navigation-image" src="{{fraternite.img}}" data-edit="img"/>
                <a class="sheet-navigation-tab" data-tab="actor" data-id="{{fraternite.id}}">{{fraternite.name}}</a>
                {{/each}}
                {{/if}}

                {{/if}}

            </nav>

        </div>
        
        <div class="article">

            <div class="article-header">

                <textarea spellcheck="false" class="article-title" name="name" class="name" rows="1">{{actor.name}}</textarea>

                <img class="article-separator"/>

            </div>

            <section class="article-body">

                <img class="article-upper-corner"/>

                <img class="article-bottom-corner"/>

                <div class="tab" data-group="primary" data-tab="description">
                    {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
                </div>
        
                {{#if (eq system.options.combat true)}}
                <div class="tab" data-group="primary" data-tab="combat">
                    {{> "systems/neph5e/feature/combat/actor/main.hbs"}}
                </div>
                {{/if}}
        
                {{#if (eq system.options.vecus true)}}
                <div class="tab vecus" data-group="primary" data-tab="vecus" data-family="vecus">
                    {{> "systems/neph5e/feature/periode/actor/competences.hbs" }}
                    {{> "systems/neph5e/feature/periode/actor/savoirs.hbs" from="figure" }}
                    {{> "systems/neph5e/feature/periode/actor/quetes.hbs" from="figure" }}
                    {{> "systems/neph5e/feature/periode/actor/chutes.hbs" from="figure" }}
                </div>
                {{/if}}

                {{#if (eq system.options.capacites true)}}
                <div class="tab" data-group="primary" data-tab="capacites">
                    {{> "systems/neph5e/feature/periode/actor/capacites.hbs" from="figure" }}
                </div>
                {{/if}}
                
                {{#if (eq system.options.nephilim true)}}
                <div class="tab" data-group="primary" data-tab="nephilim">
                    {{> "systems/neph5e/feature/nephilim/actor/main.hbs"}}
                </div>
                {{/if}}

                {{#if (eq system.options.magie true)}}
                <div class="tab" data-group="primary" data-tab="magie" data-family="science">
                    {{> "systems/neph5e/feature/science/actor/science.hbs" science="magie"}}
                </div>
                {{/if}}

                {{#if (eq system.options.analogie true)}}
                <div class="tab" data-group="primary" data-tab="analogie" data-family="science">
                    {{> "systems/neph5e/feature/science/actor/science.hbs" science="analogie"}}
                </div>
                {{/if}}

                {{#if (eq system.options.kabbale true)}}
                <div class="tab" data-group="primary" data-tab="kabbale" data-family="science">
                    {{> "systems/neph5e/feature/science/actor/science.hbs" science="kabbale"}}
                </div>
                <div class="tab" data-group="primary" data-tab="arbre">
                    {{> "systems/neph5e/feature/kabbale/actor/arbre.hbs"}}
                </div>
                <div class="tab" data-group="primary" data-tab="ordonnances">
                    {{> "systems/neph5e/feature/kabbale/actor/ordonnances.hbs"}}
                </div>
                {{/if}}
        
                {{#if (eq system.options.alchimie true)}}
                <div class="tab" data-group="primary" data-tab="alchimie" data-family="science">
                    {{> "systems/neph5e/feature/science/actor/science.hbs" science="alchimie"}}
                </div>
                <div class="tab" data-group="primary" data-tab="laboratoire">
                    {{> "systems/neph5e/feature/alchimie/actor/laboratoire.hbs"}}
                </div>
                <div class="tab" data-group="primary" data-tab="materiae">
                    {{> "systems/neph5e/feature/alchimie/actor/materiae.hbs"}}
                </div>
                {{/if}}

                {{#if (eq system.options.atlanteide true)}}
                <div class="tab" data-group="primary" data-tab="atlanteide" data-family="science">
                    {{> "systems/neph5e/feature/science/actor/science.hbs" science="atlanteide"}}
                </div>
                {{/if}}

                {{#if (eq system.options.akasha true)}}
                <div class="tab" data-group="primary" data-tab="akasha">
                    {{> "systems/neph5e/feature/akasha/actor/main.hbs"}}
                </div>
                {{/if}}
        
                {{#if (eq system.options.dracomachie true)}}
                <div class="tab" data-group="primary" data-tab="dracomachie" data-family="science">
                    {{> "systems/neph5e/feature/science/actor/science.hbs" science="dracomachie"}}
                </div>
                {{/if}}

                {{#if (eq system.options.selenim true)}}
                <div class="tab" data-group="primary" data-tab="selenim">
                    {{> "systems/neph5e/feature/selenim/actor/main.hbs"}}
                </div>
                {{/if}}
        
                {{#if (eq system.options.necromancie true)}}
                <div class="tab" data-group="primary" data-tab="necromancie" data-family="science">
                    {{> "systems/neph5e/feature/science/actor/science.hbs" science="necromancie"}}
                </div>
                {{/if}}

                {{#if (eq system.options.bohemien true)}}
                <div class="tab" data-group="primary" data-tab="bohemien" data-family="science">
                    {{> "systems/neph5e/feature/bohemien/actor/divination.hbs" science="bohemien"}}
                </div>
                {{/if}}

                {{#if (eq system.options.conjuration true)}}
                <div class="tab" data-group="primary" data-tab="conjuration" data-family="science">
                    {{> "systems/neph5e/feature/science/actor/science.hbs" science="conjuration"}}
                </div>
                {{/if}}
        
                {{#if (eq system.options.baton true)}}
                <div class="tab" data-group="primary" data-tab="baton" data-family="science">
                    {{> "systems/neph5e/feature/baton/actor/techniques.hbs" science="baton"}}
                </div>
                {{/if}}
        
                {{#if (eq system.options.coupe true)}}
                <div class="tab" data-group="primary" data-tab="coupe" data-family="science">
                    {{> "systems/neph5e/feature/coupe/actor/tekhnes.hbs" science="coupe"}}
                </div>
                {{/if}}
        
                {{#if (eq system.options.denier true)}}
                <div class="tab" data-group="primary" data-tab="denier" data-family="science">
                    {{> "systems/neph5e/feature/denier/actor/pratiques.hbs" science="denier"}}
                </div>
                {{/if}}

                {{#if (eq system.options.epee true)}}
                <div class="tab" data-group="primary" data-tab="epee" data-family="science">
                    {{> "systems/neph5e/feature/epee/actor/rituels.hbs" science="epee"}}
                </div>
                {{/if}}
        
                {{#if (eq system.options.incarnations true)}}
                <div class="tab" data-group="primary" data-tab="incarnations">
                    {{> "systems/neph5e/feature/periode/actor/incarnations.hbs" from="figure"}}
                </div>
                {{/if}}
        
                <div class="tab" data-group="primary" data-tab="options">
                    {{> "systems/neph5e/feature/figure/actor/options.hbs"}}
                </div>

            </section>

        </div>

    </div>

</form>