<form class="{{cssClass}}" autocomplete="off">

    <div class="actor-root">
    
        <div class="side">
        
            {{> "systems/neph5e/templates/actor/parts/header.hbs"}}

            <nav class="sheet-navigation tabs" data-group="primary">
                
                <a class="sheet-navigation-tab" data-tab="description">{{localize "NEPH5E.description"}}</a>

                {{#if editable}}
                <a class="sheet-navigation-tab" data-tab="combat">{{localize "NEPH5E.combat"}}</a>
                {{/if}}

            </nav>

        </div>
        
        <div style="display: flex; flex-direction: column;">

            <section class="sheet-body">

                <img src="systems/neph5e/assets/core/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

                <div class="tab" data-group="primary" data-tab="description">
                    {{editor (enrichHTML system.description owner) target="system.description" button=true owner=owner editable=editable}}
                </div>

                <div class="tab" data-group="primary" data-tab="combat">

                    <div class="flexcol" style="padding-top:20px;">

                        <div class="sectionTitleUnderline" style="padding-left: 5px; width:95%; margin: 10px 20px 10px 20px;">
                            <span>{{localize "NEPH5E.caracteristiques"}}</span>
                        </div>

                        <ol class="item-list">

                            <li class="item" data-item-id="{{system.id}}" data-item-type="menace">
                    
                                <input
                                    class="item-integer"
                                    style="text-align:center;border-radius:50%;width:30px;height:30px;margin-left: 10px; margin-right:10px;margin-top:1px;margin-bottom:1px;"
                                    name="system.menace"
                                    type="text"
                                    value="{{system.menace}}"
                                    data-dtype="Number"/>
                    
                                <label class="item-name">{{localize "NEPH5E.menace"}}</label>
                    
                                <div class="item-control">
                                    <a class="roll-menace"><i class="fas fa-dice-d20"></i></a>
                                </div>
                    
                            </li>
                    
                            <li class="item" data-item-id="{{system.id}}" data-item-type="ka">
                    
                                <input
                                    class="item-integer"
                                    style="text-align:center;border-radius:50%;width:30px;height:30px;margin-left: 10px; margin-right:10px;margin-top:1px;margin-bottom:1px;"
                                    name="system.ka"
                                    type="text"
                                    value="{{system.ka}}"
                                    data-dtype="Number"/>
                    
                                <label class="item-name">{{localize "NEPH5E.ka"}}</label>
                    
                                <div class="item-control">
                                    <a class="roll-ka"><i class="fas fa-dice-d20"></i></a>
                                </div>
                    
                            </li>
                    
                            {{#each actor.items as |item id|}}
                            {{#if (eq item.type 'vecu')}}
                            <li class="item" data-item-id="{{item.id}}" data-item-type="{{item.type}}" data-simulacre-uuid="{{../system.id}}">
                    
                                <input
                                    class="item-integer degre-vecu"
                                    style="text-align:center;border-radius:50%;width:30px;height:30px;margin-left: 10px;margin-right:10px;margin-top:1px;margin-bottom:1px;"
                                    name="item.system.degre"
                                    type="text"
                                    value="{{item.system.degre}}"
                                    data-dtype="Number"/>
                    
                                <div class="item-name edit-vecu" data-item="{{item.id}}">
                                    <span>{{item.name}}</span>
                                </div>
                    
                                <div class="item-control" data-item="{{item.id}}">
                                    <a class="delete-vecu"><i class="fas fa-trash"></i></a>
                                </div>
                    
                                <div class="item-control">
                                    <a class="roll-vecu" data-item="{{item.id}}"><i class="fas fa-dice-d20"></i></a>
                                </div>
                    
                            </li>
                            {{/if}}
                            {{/each}}
                    
                        </ol>

                    </div>

                    {{> "systems/neph5e/feature/combat/actor/main.hbs"}}

                </div>
        
            </section>

        </div>

    </div>

</form>