<form class="{{cssClass}}" autocomplete="off">
    
    
    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <input
            name="data.id"
            type="hidden"
            value="{{data.id}}"
            data-dtype="String"/>

        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <div class="title">
            <span class="type">{{localize "NEPH5E.simulacre.nom"}}</span>
            <input class="name" name="name" type="text" value="{{actor.name}}"/>
        </div>

    </header>

    {{!-- Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="sheet-navigation-tab" data-tab="description"></a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab simulacre" data-group="primary" data-tab="description">

            <ol class="item-list">
                
                <li class="item-list-header">
            
                    <div class="item-name">
                        <span>{{localize "ITEM.TypeVecu"}}</span>
                    </div>
            
                    <div class="item-control"/>
            
                    <div class="item-integer"/>
            
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="soleil">
            
                    <label class="item-name">Ka {{localize "NEPH5E.soleil"}}</label>
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.soleil"
                        type="text"
                        value="{{data.soleil}}"
                        data-dtype="Number"/>
            
                </li>

                <li class="item" data-item-id="{{data.id}}" data-item-type="vecu">
            
                    {{#if data.vecu.refid}}
                        {{#with (getItem data.vecu.refid) as |vecu|}}
                        <label class="item-name">{{name}}</label>
                        {{/with}}
                    {{else}}
                        <label class="item-name">{{localize "ITEM.TypeVecu"}}</label>
                    {{/if}}
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.vecu.degre"
                        type="text"
                        value="{{data.vecu.degre}}"
                        data-dtype="Number"/>
            
                </li>
            
                {{#if data.vecu.refid}}
                    {{#with (getItem data.vecu.refid) as |vecu|}}
                    {{#each vecu.data.data.competences as |competence|}}
                        <li class="item">
            
                            {{#with (getItem competence.refid)}}
                            <div class="item-name" style="font-style: italic;margin-left: 20px;">
                                <span>{{name}}</span>
                            </div>
                            {{/with}}
            
                            <div class="item-control"/>
            
                            <div class="item-integer"/>
            
                        </li>
                    {{/each}}
                    {{/with}}
                {{/if}}
            
            </ol>
            
            {{#if useV3}}
            <ol class="item-list">
    
                <li class="item-list-header">
            
                    <div class="item-name">
                        <span>{{localize "NEPH5E.caracteristique"}}</span>
                    </div>
            
                    <div class="item-control">
                        <span/>
                    </div>
            
                    <div class="item-integer">
                        <span/>
                    </div>
            
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="agile">
            
                    <label class="item-name">{{localize "NEPH5E.simulacre.agile"}}</label>
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.agile"
                        type="text"
                        value="{{data.agile}}"
                        data-dtype="Number"/>
            
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="endurant">
            
                    <label class="item-name">{{localize "NEPH5E.simulacre.endurant"}}</label>
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.endurant"
                        type="text"
                        value="{{data.endurant}}"
                        data-dtype="Number"/>
            
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="fort">
            
                    <label class="item-name">{{localize "NEPH5E.simulacre.fort"}}</label>
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.fort"
                        type="text"
                        value="{{data.fort}}"
                        data-dtype="Number"/>
            
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="intelligent">
            
                    <label class="item-name">{{localize "NEPH5E.simulacre.intelligent"}}</label>
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.intelligent"
                        type="text"
                        value="{{data.intelligent}}"
                        data-dtype="Number"/>
            
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="seduisant">
            
                    <label class="item-name">{{localize "NEPH5E.simulacre.seduisant"}}</label>
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.seduisant"
                        type="text"
                        value="{{data.seduisant}}"
                        data-dtype="Number"/>
            
                </li>
                       
                <li class="item" data-item-id="{{data.id}}" data-item-type="savant">
            
                    <label class="item-name">{{localize "NEPH5E.simulacre.savant"}}</label>
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.savant"
                        type="text"
                        value="{{data.savant}}"
                        data-dtype="Number"/>
            
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="sociable">
            
                    <label class="item-name">{{localize "NEPH5E.simulacre.sociable"}}</label>
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.sociable"
                        type="text"
                        value="{{data.sociable}}"
                        data-dtype="Number"/>
            
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="fortune">
            
                    <label class="item-name">{{localize "NEPH5E.simulacre.fortune"}}</label>
            
                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
            
                    <input
                        class="item-integer"
                        name="data.fortune"
                        type="text"
                        value="{{data.fortune}}"
                        data-dtype="Number"/>
            
                </li>
            
            </ol>
            {{/if}}

            <ol class="item-list">
                
                <li class="item-list-header">
            
                    <div class="item-name">
                        <span>{{localize "NEPH5E.description"}}</span>
                    </div>
            
                </li>
            
            </ol>
            
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

        </div>

    </section>

</form>