<form class="{{cssClass}}" autocomplete="off">
    
    
    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <input
            name="data.id"
            type="hidden"
            value="{{data.id}}"
            data-dtype="String"/>

        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <div class="title">
            <span class="type">{{localize "NEPH5E.simulacre"}}</span>
            <input class="name" name="name" type="text" value="{{actor.name}}"/>
        </div>

    </header>

    {{!-- Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="sheet-navigation-tab" data-tab="description"></a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab simulacre" data-group="primary" data-tab="description">

            <ol class="item-list">
                
                <li class="item-list-header">
                    <div class="item-name"><span>{{localize "ITEM.TypeVecu"}}</span></div>
                    <div class="item-control"/>
                    <div class="item-integer"/>
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="soleil">
                    <label class="item-name">Ka {{localize "NEPH5E.soleil"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="soleil" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <input
                        class="item-integer"
                        name="data.soleil"
                        type="text"
                        value="{{data.soleil}}"
                        data-dtype="Number"/>
                </li>

                {{#each actor.items as |item id|}}
                {{#if (eq item.type 'vecu')}}
                <li class="item" data-item-id="{{item.id}}" data-item-type="{{item.type}}" data-simulacre-uuid="{{../data.id}}">

                    <div class="item-name">
                        <span>{{item.name}}</span>
                    </div>

                    <div class="item-checkbox">
                        <span/>
                    </div>

                    <div class="item-control">
                        <a class="edit-vecu" title="Edit Item"><i class="fas fa-edit"></i></a>
                    </div>

                    <div class="item-control">
                        <a class="delete-vecu" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>

                    <div class="item-control">
                        <a class="roll-vecu" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <input
                        class="item-integer degre-vecu"
                        name="item.data.data.degre"
                        type="text"
                        value="{{item.data.data.degre}}"
                        data-dtype="Number"/>

                </li>
                {{/if}}
                {{/each}}

            </ol>

            {{#if useV3}}
            <ol class="item-list">

                <li class="item-list-header">
                    <div class="item-name">
                        <span>{{localize "NEPH5E.caracteristique"}}</span>
                    </div>
                    <div class="item-control">
                        <span/>
                    </div>
                    <div class="item-integer">
                        <span/>
                    </div>
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="agile">
                    <label class="item-name">{{localize "NEPH5E.agile"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="agile" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <input
                        class="item-integer"
                        name="data.agile"
                        type="text"
                        value="{{data.agile}}"
                        data-dtype="Number"/>
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="endurant">
                    <label class="item-name">{{localize "NEPH5E.endurant"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="endurant" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <input
                        class="item-integer"
                        name="data.endurant"
                        type="text"
                        value="{{data.endurant}}"
                        data-dtype="Number"/>
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="fort">
                    <label class="item-name">{{localize "NEPH5E.fort"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="fort" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <input
                        class="item-integer"
                        name="data.fort"
                        type="text"
                        value="{{data.fort}}"
                        data-dtype="Number"/>
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="intelligent">
                    <label class="item-name">{{localize "NEPH5E.intelligent"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="intelligent" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <input
                        class="item-integer"
                        name="data.intelligent"
                        type="text"
                        value="{{data.intelligent}}"
                        data-dtype="Number"/>
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="seduisant">
                    <label class="item-name">{{localize "NEPH5E.seduisant"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="seduisant" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <input
                        class="item-integer"
                        name="data.seduisant"
                        type="text"
                        value="{{data.seduisant}}"
                        data-dtype="Number"/>
                </li>
                       
                <li class="item" data-item-id="{{data.id}}" data-item-type="savant">
                    <label class="item-name">{{localize "NEPH5E.savant"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="savant" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <input
                        class="item-integer"
                        name="data.savant"
                        type="text"
                        value="{{data.savant}}"
                        data-dtype="Number"/>
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="sociable">
                    <label class="item-name">{{localize "NEPH5E.sociable"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="sociable" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <input
                        class="item-integer"
                        name="data.sociable"
                        type="text"
                        value="{{data.sociable}}"
                        data-dtype="Number"/>
                </li>
            
                <li class="item" data-item-id="{{data.id}}" data-item-type="fortune">
                    <label class="item-name">{{localize "NEPH5E.fortune"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="fortune" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <input
                        class="item-integer"
                        name="data.fortune"
                        type="text"
                        value="{{data.fortune}}"
                        data-dtype="Number"/>
                </li>
            
            </ol>
            {{/if}}

            <ol class="item-list">
                <li class="item-list-header">
                    <div class="item-name">
                        <span>{{localize "NEPH5E.description"}}</span>
                    </div>
                </li>
            </ol>

            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

        </div>

    </section>

</form>