<input
    name="data.page.nephilim"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<div style="display:flex;flex-direction:row;padding-top:20px;">

    <div style="display:flex;flex-direction:column;width:50%;">

        {{> "systems/neph5e/templates/actor/parts/nephilim/pentacle.hbs"}}

        <hr>
        <hr>

        {{> "systems/neph5e/templates/actor/parts/nephilim/attributs.hbs"}}

    </div>

    <div style="display:flex;flex-direction:column;width:50%">

        {{> "systems/neph5e/templates/actor/parts/nephilim/metamorphe.hbs"}}

        <hr>

        {{> "systems/neph5e/templates/actor/parts/nephilim/stase.hbs"}}

        <hr>

        {{> "systems/neph5e/templates/actor/parts/nephilim/arcane.hbs"}}

        <hr>

        {{> "systems/neph5e/templates/actor/parts/nephilim/chutes.hbs"}}

    </div>

</div>