<input
    name="data.page.vecus"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<div style="position: relative; text-align: center;">

    <img src="systems/neph5e/assets/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

</div>

{{> "systems/neph5e/templates/actor/parts/vecus/competences.hbs" }}

{{> "systems/neph5e/templates/actor/parts/vecus/savoirs.hbs" }}

{{> "systems/neph5e/templates/actor/parts/vecus/quetes.hbs" }}

{{> "systems/neph5e/templates/actor/parts/vecus/passes.hbs" }}