{{#if (displaySciences actor 'fossoyeur' 'embaumeur' 'imputrescible')}}
<ol class="cercles">

    {{#if (displayScience actor "fossoyeur")}}
    {{#with (science actor "fossoyeur") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/necromancie/actor/cercle.hbs" cercle="Fossoyeur" degre=degre cercle-id="fossoyeur" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'fossoyeur') as |item|}}
            {{> "systems/neph5e/feature/necromancie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "embaumeur")}}
    {{#with (science actor "embaumeur") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/necromancie/actor/cercle.hbs" cercle="Embaumeur" degre=degre cercle-id="embaumeur" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'embaumeur') as |item|}}
            {{> "systems/neph5e/feature/necromancie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "imputrescible")}}
    {{#with (science actor "imputrescible") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/necromancie/actor/cercle.hbs" cercle="Imputrescible" degre=degre cercle-id="imputrescible" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'imputrescible') as |item|}}
            {{> "systems/neph5e/feature/necromancie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}