<input
    name="data.page.akasha"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<img src="systems/neph5e/assets/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

<div class="flexrow" style="padding-top:20px;">

    <div class="flexcol" style="width:50%; margin-right:10px;">

        <div class="flexrow sectionTitleUnderline" style="margin: 10px 0px 10px 20px;">
            <span>{{localize "NEPH5E.akasha"}}</span>
        </div>

        <ol class="item-list">

            {{> "systems/neph5e/templates/actor/parts/akasha/vaisseau.hbs" name="NEPH5E.nef" input-name="data.akasha.nef.active" input-value=data.akasha.nef.active}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Septentrion" input-name="data.akasha.boussole.septentrion" input-value=data.akasha.boussole.septentrion}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Orient" input-name="data.akasha.boussole.orient" input-value=data.akasha.boussole.orient}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Midi" input-name="data.akasha.boussole.midi" input-value=data.akasha.boussole.midi}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Occident" input-name="data.akasha.boussole.occident" input-value=data.akasha.boussole.occident}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Zenith" input-name="data.akasha.boussole.zenith" input-value=data.akasha.boussole.zenith}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Nadir" input-name="data.akasha.boussole.nadir" input-value=data.akasha.boussole.nadir}}

        </ol>

    </div>

    <div class="flexcol" style="width:50%;margin-right:10px;">

        <div class="flexrow sectionTitleUnderline" style="margin: 10px 0px 10px 20px;">
            <span>{{localize "NEPH5E.antiTerre"}}</span>
        </div>

        <ol class="item-list">

            {{> "systems/neph5e/templates/actor/parts/akasha/vaisseau.hbs" name="NEPH5E.barge" input-name="data.akasha.barge.active" input-value=data.akasha.barge.active}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Septentrion" input-name="data.akasha.compas.septentrion" input-value=data.akasha.compas.septentrion}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Orient" input-name="data.akasha.compas.orient" input-value=data.akasha.compas.orient}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Midi" input-name="data.akasha.compas.midi" input-value=data.akasha.compas.midi}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Occident" input-name="data.akasha.compas.occident" input-value=data.akasha.compas.occident}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Zenith" input-name="data.akasha.compas.zenith" input-value=data.akasha.compas.zenith}}

            {{> "systems/neph5e/templates/actor/parts/akasha/direction.hbs" name="Nadir" input-name="data.akasha.compas.nadir" input-value=data.akasha.compas.nadir}}

        </ol>

    </div>

</div>