<li class="item">
    <label class="hand-checkbox">
        <input
            class="item-checkbox" 
            name={{input-name}}
            type="checkbox"
            {{checked input-value}}
            data-dtype="Boolean"/>
        <i class="far fa-circle unchecked"></i>
        <i class="fas fa-circle checked"></i>
    </label>
    <label class="item-name" style="font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px;">{{localize name}}</label>
</li>