{{#if (displaySciencesOf actor 'dracomachie' true)}}
<ol class="cercles">

    {{#each (cerclesOf 'dracomachie' false) as |name key|}}
    {{#if (displayScience ../actor key)}}
    {{#with (science ../actor key) as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/dracomachie/actor/header.hbs" cercle=name degre=degre cercle-id=key sciencesOccultes=../../sciencesOccultes}}
        {{#each (focus ../../actor key) as |item|}}
            {{> "systems/neph5e/feature/dracomachie/actor/dracomachie.hbs" item=item degre=degre}}
        {{/each}}
    </div>
    {{/with}}
    {{/if}}
    {{/each}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}