<li class="item-list-header">

    <div class="item-name">
        <span>{{sephirah}}</span>
    </div>

    <div class="item-checkbox">
        <span>Pacte</span>
    </div>

    <div class="item-integer">
        <span>Féal</span>
    </div>

    <div class="item-integer">
        <span>Allié</span>
    </div>

    <div class="item-checkbox">
        <span>Appris</span>
    </div>

    <div class="item-checkbox">
        <span>Tatoué</span>
    </div>

    <div class="item-control">
        <span/>
    </div>

    <div class="item-control">
        <span/>
    </div>

    <div class="item-control">
        <span/>
    </div>

</li>