<input
    name="data.page.kabbale"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<ol class="item-list">

    {{#with (getScience data.id "malkut") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Malkut" degre=degre useV3=../useV3}}
    {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "malkut")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{#with (getScience data.id "yesod") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Yesod" degre=degre useV3=../useV3}}
     {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "yesod")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{#with (getScience data.id "hod") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Hod" degre=degre useV3=../useV3}}
    {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "hod")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{#with (getScience data.id "netzach") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Netzah" degre=degre useV3=../useV3}}
    {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "netzach")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{#with (getScience data.id "tiphereth") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Tipheret" degre=degre useV3=../useV3}}
    {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "tiphereth")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{#with (getScience data.id "geburah") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Geburah" degre=degre useV3=../useV3}}
    {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "geburah")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{#with (getScience data.id "chesed") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Chesed" degre=degre useV3=../useV3}}
    {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "chesed")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{#with (getScience data.id "binah") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Binah" degre=degre useV3=../useV3}}
    {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "binah")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{#with (getScience data.id "chokmah") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Chokmah" degre=degre useV3=../useV3}}
    {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "chokmah")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{#with (getScience data.id "kether") as |degre|}}
    {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Kether" degre=degre useV3=../useV3}}
    {{/with}}

    {{#each data.kabbale.invocations as |invocation|}}
        {{#with (getItem invocation.refid)}}
            {{#if (eq data.data.sephirah "kether")}}
                {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
            {{/if}}
        {{/with}}
    {{/each}}

</ol>

<ol class="item-list">

    <li class="item-list-header">

        <div class="item-name">
            <span>{{localize "NEPH5E.kabbale.ordonnance"}}</span>
        </div>

        <div class="item-control">
            <span/>
        </div>

        <div class="item-control">
            <span/>
        </div>

    </li>

    {{#each data.kabbale.voie.ordonnances as |ordonnance|}}
        {{#with (getItem ordonnance.refid)}}
            {{> "systems/neph5e/templates/actor/parts/kabbale/ordonnance.hbs" ordonnance=ordonnance}}
        {{/with}}
    {{/each}}

</ol>