<div style="position: relative; text-align: center;">

    <img src="systems/neph5e/assets/core/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

</div>

<div style="display:flex;flex-direction:row;padding-top:20px;">

    <div style="display:flex;flex-direction:column;width:500px;">

        {{> "systems/neph5e/feature/nephilim/actor/pentacle.hbs"}}

        {{> "systems/neph5e/feature/nephilim/actor/chutes.hbs"}}

    </div>

    <div style="display:flex;flex-direction:column;width:50%;margin-left:20px">

        {{> "systems/neph5e/feature/nephilim/actor/metamorphe.hbs"}}

        {{> "systems/neph5e/feature/nephilim/actor/stase.hbs"}}

        {{> "systems/neph5e/feature/nephilim/actor/attributs.hbs"}}

        {{> "systems/neph5e/feature/nephilim/actor/arcane.hbs"}}

    </div>

</div>