<div class="section stase">

    <div class="sectionRow">

        <div class="circle">
            <input
                class="circleContent"
                name="system.stase.ka"
                type="text"
                value="{{system.stase.ka}}"
                data-dtype="Number"/>
        </div>

        <div class="sectionTitle">
            <input
                class="sectionName"
                name="system.stase.description"
                type="text"
                value="{{system.stase.description}}"
                data-dtype="String"
                placeholder="Stase"/>
        </div>

    </div>

</div>