<li class="item-list-header">

    <div class="item-name">
        <span>{{axe}}</span>
    </div>

    <div class="item-control">
        <span/>
    </div>

    <div class="item-control">
        <span/>
    </div>

    <div class="item-control">
        <span/>
    </div>

</li>