<li class="item flexrow-start" data-item-id="0">

    <div class="mright">
        <a><i class="fas fa-feather-alt"></i></a>
    </div>

    <input

        {{#if (nonNull readOnly)}}
        disabled
        {{/if}}

        name={{name}}
        type="text"
        value="{{value}}"
        data-dtype="String"/>

</li>