<div class="laboratoire">

    <div class="constructs">

        <div class="construct alambic">
            <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>
            <img class="artefact" src="systems/neph5e/assets/backgrounds/alambic.webp"/>
        </div>

        <div class="construct aludel">
            <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>
            <img class="artefact" src="systems/neph5e/assets/backgrounds/aludel.webp"/>
        </div>

        <div class="construct athanor">
            <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>
            <img class="artefact" src="systems/neph5e/assets/backgrounds/athanor.webp"/>
        </div>

        <div class="construct cornue">
            <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>
            <img class="artefact" src="systems/neph5e/assets/backgrounds/cornue.webp"/>
        </div>

        <div class="construct creuset">
            <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>
            <img class="artefact" src="systems/neph5e/assets/backgrounds/creuset.webp"/>
        </div>

    </div>


</div>