{{#if (displaySciences actor 'oeuvreAuNoir' 'oeuvreAuBlanc' 'oeuvreAuRouge')}}
<ol class="cercles">

    {{#with actor.voieAlchimique}}
    <div class="voie">
        <label>{{name}}</label>
    </div>
    {{/with}}

    {{#if (displayScience actor "oeuvreAuNoir")}}
    {{#with (science actor "oeuvreAuNoir") as |degre|}}
        {{> "systems/neph5e/feature/alchimie/actor/cercle.hbs" cercle="Oeuvre au noir" degre=degre cercle-id="oeuvreAuNoir"}}
        <ol class="all-focus">
        {{#each (focus ../actor 'oeuvreAuNoir') as |item|}}
            {{> "systems/neph5e/feature/alchimie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "oeuvreAuBlanc")}}
    {{#with (science actor "oeuvreAuBlanc") as |degre|}}
        {{> "systems/neph5e/feature/alchimie/actor/cercle.hbs" cercle="Oeuvre au blanc" degre=degre cercle-id="oeuvreAuBlanc"}}
        <ol class="all-focus">
        {{#each (focus ../actor 'oeuvreAuBlanc') as |item|}}
            {{> "systems/neph5e/feature/alchimie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "oeuvreAuRouge")}}
    {{#with (science actor "oeuvreAuRouge") as |degre|}}
        {{> "systems/neph5e/feature/alchimie/actor/cercle.hbs" cercle="Oeuvre au rouge" degre=degre cercle-id="oeuvreAuRouge"}}
        <ol class="all-focus">
        {{#each (focus ../actor 'oeuvreAuRouge') as |item|}}
            {{> "systems/neph5e/feature/alchimie/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    {{/with}}
    {{/if}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}