{{#with (cercles actor "alchimie") as |cercles|}}
{{#if cercles.display}}  
<ol class="cercles">

    {{#with ../actor.voieAlchimique}}
    <div class="voie">
        <label>{{name}}</label>
    </div>
    {{/with}}

    {{#with cercles.oeuvreAuNoir as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/alchimie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/alchimie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.oeuvreAuBlanc as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/alchimie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/alchimie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.oeuvreAuRouge as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/alchimie/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/alchimie/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}