<div>
    <ol class="item-list">
        <li class="item-list-header">
            <div class="item-name">
                <span>Bonus</span>
            </div>
            <div class="item-integer">
                <span/>
            </div>
        </li>

    </ol>
</div> 

<div style="display:flex;flex-direction:row;">

    <div style="flex:auto;margin-right:10px">

        <ol class="item-list">
            
            <li class="item" data-item-id="mouvement">
                <label class="item-name">Mouvement</label>
                <input
                    class="item-integer"
                    name="data.bonus.mouvement"
                    type="text"
                    value="{{data.bonus.mouvement}}"
                    data-dtype="Number"/>
            </li>

            <li class="item" data-item-id="initiative">
                <label class="item-name">Initiative</label>
                <input
                    class="item-integer"
                    name="data.bonus.initiative"
                    type="text"
                    value="{{data.bonus.initiative}}"
                    data-dtype="Number"/>
            </li>

        </ol>

    </div>

    <div style="flex:auto;margin-right:10px">

        <ol class="item-list">

            <li class="item" data-item-id="dommage">
                <label class="item-name">Dommage</label>
                <input
                    class="item-integer"
                    name="data.bonus.dommage"
                    type="text"
                    value="{{data.bonus.dommage}}"
                    data-dtype="Number"/>
            </li>

            <li class="item" data-item-id="protection">
                <label class="item-name">Protection</label>
                <input
                    class="item-integer"
                    name="data.bonus.protection"
                    type="text"
                    value="{{data.bonus.protection}}"
                    data-dtype="Number"/>
            </li>

        </ol>

    </div>

</div>
