.tab.arbre {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--kabbale-arbre-color);

    .arbre-vie {
        border: 0px;
        width: 600px;
        height: 795px;
    }

    .sephiroth {

        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            font-family: 'NightjarDemi';
            font-size: 18px;
        }

        .degre {
            position: absolute;
            top: 50%;
            left: 50%;
            font-family: 'AJensonPro';
            font-size: 18px;
            font-weight: bold;
        }

    }

    .malkut {
        .title {
            transform: translate(-28px, 320px);
        }
        .degre {
            transform: translate(2px, 340px);
        }
    }

    .yesod {
        .title {
            transform: translate(-23px, 165px);
        }
        .degre {
            transform: translate(2px, 185px);
        }
    }

    .hod {
        .title {
            transform: translate(-151px, 86px);
        }
        .degre {
            transform: translate(-135px, 105px);
        }
    }

    .netzach {
        .title {
            transform: translate(102px, 86px);
        }
        .degre {
            transform: translate(138px, 105px);
        }
    }

    .tiphereth {
        .title {
            transform: translate(-42px, 8px);
        }
        .degre {
            transform: translate(2px, 27px);
        }
    }

    .geburah {
        .title {
            transform: translate(-172px, -72px);
        }
        .degre {
            transform: translate(-135px, -54px);
        }
    }

    .chesed {
        .title {
            transform: translate(108px, -72px);
        }
        .degre {
            transform: translate(138px, -54px);
        }
    }

    .binah {
        .title {
            transform: translate(-158px, -230px);
        }
        .degre {
            transform: translate(-135px, -211px);
        }
    }

    .chokmah {
        .title {
            transform: translate(97px, -230px);
        }
        .degre {
            transform: translate(138px, -211px);
        }
    }

    .kether {
        .title {
            transform: translate(-28px, -309px);
        }
        .degre {
            transform: translate(2px, -289px);
        }
    }

    .daath {
        .title {
            transform: translate(-24px, -177px);
        }
        .degre {
            transform: translate(0px, -158px);
        }
    }
}