.tab.combat {
    display: flex;
    flex-direction: row;

    .header {
        position: relative;
        background-color: aqua;

        .puce {
            position: absolute;
            content: var(--img-puce);
            //top: var(--puce-top);
            width: 60px;
            
        }

        .separator {
            content: var(--img-separator);
            position: absolute;
            left: 55px;
            top: 30px;
            height: 4px;
            width: calc(100% - 65px);
        }

        .title {
            position: absolute;
            left: 70px;
            top: 5px;
            font-size: 18px;
        }

    }

    .gauche {
        display: flex;
        flex-direction: column;
        width: 60%;

        // To delete
        background-color:rgb(157, 167, 132);
        height: 100%;



        .sante {
            position: relative;
            background-color:rgb(98, 117, 53);

                .pyramide {
                    content: var(--img-triangle);
                    width: var(--combat-triangle-width);
                    position: absolute;
                    left: calc(50% - var(--combat-triangle-width)/2);
                    top: 50px;
                }





        }

        .armes {

        }

        .armures {

        }

        .equipement {

        }

    }

    .droite {
        display: flex;
        flex-direction: column;
        width: 40%;

        // To delete
        background-color:aquamarine;
        height: 100%;

        .caracteristiques {

        }

        .etats {

        }

        .capacites {

        }

        .bonus {

        }

    }



}