.tab.combat {
    display: flex;
    flex-direction: row;

    .header {
        position: relative;
        height: 50px;

        .puce {
            content: var(--img-puce);
            width: 60px;
            position: absolute;
        }

        .separator {
            content: var(--img-separator);
            height: 4px;
            width: calc(100% - 65px);
            position: absolute;
            left: 55px;
            top: 30px;
        }

        .title {
            position: absolute;
            left: 70px;
            top: 5px;
            font-size: 18px;
        }

    }

    .gauche {
        display: flex;
        flex-direction: column;
        width: 60%;

        // To delete
        background-color:rgb(157, 167, 132);
        height: 100%;

        .sante {

            .body {
                position: relative;
                width: 100%;
                height: 190px;

                .checkbox {
                    position: absolute;
                }
            }

            .pyramide {
                content: var(--img-triangle);
                width: var(--combat-triangle-width);
                position: absolute;
                left: calc(50% - var(--combat-triangle-width)/2);
            }

            .modificateur {
                position: absolute;
                top: 50px;
                width: 100%;

                .circle {
                    position: absolute;
                    content: var(--img-circle);
                    width: var(--combat-dommages-circle-width);
                    height: var(--combat-dommages-circle-height);
                }
 
                .value {
                    position: absolute;
                    left: 30px;
                    top: 35px;
                }

                .title {
                    position: absolute;
                    left: 12px;
                    top: 85px;
                }

                .physique {
                    position: absolute;
                    left: calc(50% - 230px);
                    width: 100%;
                }
                    
                .magique {
                    position: absolute;
                    left: calc(50% + 140px);
                    width: 100%;
                }

            }

            .dommages {

                .title {
                    position: absolute;
                    left: calc(50% - 30px);
                    top: 20px;
                }

                .physique-5 {
                    left: calc(50% + -180px);
                    top: 20px;
                }

                .physique-4 {
                    left: calc(50% + -160px);
                    top: 20px;
                }

                .physique-3 {
                    left: calc(50% + -147px);
                    top: 20px;
                }

                .physique-2 {
                    left: calc(50% - 110px);
                    top: 16px;

                    label {
                        width: 25px;
                        height: 25px;
                    }

                }

                .physique-1 {
                    left: calc(50% - 70px);
                    top: 13px;

                    label {
                        width: 30px;
                        height: 30px;
                    }

                }

                .magique-3 {
                    left: calc(50% + 40px);
                    top: 13px;

                    label {
                        width: 30px;
                        height: 30px;
                    }

                }

                .magique-2 {
                    left: calc(50% + 80px);
                    top: 16px;

                    label {
                        width: 25px;
                        height: 25px;
                    }

                }

                .magique-1 {
                    left: calc(50% + 117px);
                    top: 20px;
                }

            }

            .mineure {

                .title {
                    position: absolute;
                    left: calc(50% - 30px);
                    top: 50px;
                }

                .physique {
                    left: calc(50% - 70px);
                    top: 50px;
                }

                .magique {
                    left: calc(50% + 70px);
                    top: 50px;
                }

            }

            .serieuse {

                .title {
                    position: absolute;
                    left: calc(50% - 30px);
                    top: 80px;
                }

                .physique {
                    left: calc(50% - 70px);
                    top: 80px;
                }

                .magique {
                    left: calc(50% + 70px);
                    top: 80px;
                }

            }

            .grave {

                .title {
                    position: absolute;
                    left: calc(50% - 30px);
                    top: 110px;
                }

                .physique {
                    left: calc(50% - 70px);
                    top: 110px;
                }

                .magique {
                    left: calc(50% + 70px);
                    top: 110px;
                }

            }

            .mortelle {

                .title {
                    position: absolute;
                    left: calc(50% - 30px);
                    top: 140px;
                }

                .physique {
                    left: calc(50% - 70px);
                    top: 140px;
                }

                .magique {
                    left: calc(50% + 70px);
                    top: 140px;
                }

            }

        }

        .armes,
        .armures,
        .ressources {

            ol {
                list-style: none;

                li {
                    display: flex;
                    flex-direction: row;
                    height: 22px;

                    &:hover {
                        text-shadow: 0px 0px 1px var(--font-color);
                    }

                    label {
                        width: 70%;
                    }

                    a {
                        width: 10%;
                    }

                    input {
                        width: 10%;
                    }

                }

            }

        }

    }

    .droite {
        display: flex;
        flex-direction: column;
        width: 40%;

        // To delete
        background-color:aquamarine;
        height: 100%;

        .caracteristiques {

        }

        .etats {

        }

        .capacites {

        }

        .bonus {

        }

    }



}