.tab.combat {
    display: flex;
    flex-direction: row;

    div {
        position: absolute;
        left: 70px;
        top: 2px;
        width: calc(100% - 65px);
    }

    // La partie gauche
    div:nth-child(1) {
        background-color: red;

        img.puce {
            position: relative;
            top: var(--puce-top);
            //border: none;
            width: 60px;
            //background-color: transparent;
            content: var(--img-puce);  
        }

        img.separator {
            position: absolute;
            //border: none;
            height: 4px;
            left: 55px;
            top: 32px;
            width: calc(100% - 55px);
            content: var(--img-separator);
        }

    }

    // La partie droite
    div:nth-child(2) {
        background-color: green;
    }



}