.tab.ordonnances {

    .header {
        display: flex;
        flex-direction: row;
        position: relative;
        font-family: 'AJensonPro';
        font-size: 21px;
        margin-bottom: -10px;

        .circle {
            position: absolute;
            border: none;
            width: 60px;
            height: 65px;
            display: hidden;
            content: var(--img-circle);
        }

        .separator {
            position: absolute;
            border: none;
            height: 4px;
            left: 70px;
            top: 46px;
            width: calc(100% - 80px);
            content: var(--img-separator);
        }

        .degre {
            position: absolute;
            width: 45px;
            height: 45px;
            left: 8px;
            top: 13px;
            text-align: center;
            font-weight: bold;
            padding-top: 12px;
            border-radius: 50%;
            box-shadow: inset 0 0 1em #ffe44cd6, 0 0 1em #ffb100a3;
        }

        .monde {
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            position: absolute;
            left: 100px;
            top: 15px;
            width: calc(100% - 80px);
            font-family: 'NightjarDemi';
            font-size: 27px;
        }

    }

    .body {
        padding-left: 0px;
        padding-top: 70px;

        .ordonnance {
            display: flex;
            flex-direction: column;
            font-family: 'AJensonPro';
            margin-top: 20px;

            .title {
                display: flex;
                flex-direction: row;

                .pin {
                    border: none;
                    width: 26px;
                    margin-left: 50px;
                    display: hidden;
                    background-color: transparent;
                    content: var(--img-pin);
                }

                .name {
                    flex: 1 1 auto;
                    text-align: left;
                    padding-left: 20px;
                    overflow: hidden; 
                    white-space: nowrap; 
                    text-overflow: ellipsis;
                    font-size: 20px;
                }

            }

            .description {
                list-style: none;
                width: calc(100% - 100px);
                margin-left: 85px;
                font-size: 15px;
            }

        }

    }

}