<li class="item-list-header" style="margin-bottom:10px">

    <div class="item-name">
        <span>{{cercle}}</span>
    </div>

    <div class="item-checkbox">
        <span>Appris</span>
    </div>

    <div class="item-control">
        <span/>
    </div>

    <div class="item-control">
        <span/>
    </div>

</li>