<input
    name="data.page.alchimie"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<img src="systems/neph5e/assets/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

<div style="width:100%;margin-top:10px;">
    <div style="margin-left:auto;margin-right:auto;width:100%;display:flex; flex-direction: row; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 25px; font-weight:bold;background-color: transparent;border: 0px;">
        {{#with (getItem data.alchimie.voie.refid)}}
        <label style="padding-bottom:3px; border: none; background-color: transparent; width:100%; text-align: center;">{{name}}</label>
        {{/with}}
    </div>
</div>

<ol class="item-list">

    {{#with (getScience data.id "oeuvreAuNoir") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/alchimie/header.hbs" cercle="Oeuvre au noir" degre=degre}}
        {{#each ../data.alchimie.formules as |formule|}}
            {{#with (getItem formule.refid)}}
                {{#if (eq data.data.cercle "oeuvreAuNoir")}}
                    {{> "systems/neph5e/templates/actor/parts/alchimie/formule.hbs" formule=formule}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "oeuvreAuBlanc") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/alchimie/header.hbs" cercle="Oeuvre au blanc" degre=degre}}
        {{#each ../data.alchimie.formules as |formule|}}
            {{#with (getItem formule.refid)}}
                {{#if (eq data.data.cercle "oeuvreAuBlanc")}}
                    {{> "systems/neph5e/templates/actor/parts/alchimie/formule.hbs" formule=formule}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "oeuvreAuRouge") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/alchimie/header.hbs" cercle="Oeuvre au rouge" degre=degre}}
        {{#each ../data.alchimie.formules as |formule|}}
            {{#with (getItem formule.refid)}}
                {{#if (eq data.data.cercle "oeuvreAuRouge")}}
                    {{> "systems/neph5e/templates/actor/parts/alchimie/formule.hbs" formule=formule}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

</ol>