form.nephilim.actor {

    section.window-content > section {
        display: flex;
        flex-flow: unset;
        width: 100%;
        background: var(--background);
        color: var(--font-color);

        aside {
            position: relative;
            display: flex;
            flex: 0 0 auto;
            flex-direction: column;
            align-items: center;
            width: 170px;
            
            &:before {
                position: absolute;
                content: "";
                inset: 0px;
                box-shadow: 0 0 6px 0px var(--color-font-bright) inset;
                background: var(--side-background) no-repeat;
                mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0));
            }

            img {
                position: relative;
                margin-top: 10px;
                width: 150px;
                border: 0px;
            }

            nav {
                position: relative;
                width: 100%;
                margin-top: 20px;
                font-family: 'AJensonPro';
                font-size: 25px;
                font-weight: bolder;
                color: var(--font-side-color);

                div {
                    display: flex;
                    flex: 0 0 auto;
                    justify-content: center;
                    align-items: center;
                }

            }

            img.simulacre {
                margin-top: 80px;
                margin-bottom: 10px;
                width: 80px;
            }

            a.simulacre-name {
                margin-bottom: 10px;
                text-align: center;
                font-size: 20px;
                z-index: 100;
            }

            .fraternite-image {
                width: 80px;
            }

            .fraternite-name {
                margin-bottom: 10px;
                text-align: center;
                font-size: 20px;
                z-index: 100;
            }

            .element.soleil {
                position: relative;
                margin-top: 20px;
                display: flex;
                justify-content: center;

                img.circle {
                    width: var(--nephilim-width-circle);
                    height: var(--nephilim-height-circle);
                    content: var(--img-circle);       /* le cercle du skin, comme la magie */
                }

                .tooltip {
                    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                    display: flex; flex-direction: column;
                    justify-content: center; align-items: center;

                    input {
                        color: var(--font-color);
                        background-color: transparent;
                        border: 0px;
                        font-size: 23px;
                        width: 40px;
                        text-align: center;
                    }

                    .dice { cursor: pointer; z-index: 100; }
                }
            }

        }

        article {
            display: flex;
            flex-direction: column;
            width: 100%;
            color: var(--color-font-dark);
            overflow-y : auto;

            header {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 80px;
                width: 100%;

                input {
                    background: inherit;
                    color: inherit;
                    height: 50px;
                    width: 100%;
                    font-family: 'NightjarDemi';
                    font-size: 35px;
                    text-align: center;
                    border: none;
                }

                img {
                    width: 200px;
                    content: var(--img-article-separator);
                }

            }

            main {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: 10px;

                &.akasha {
                    .tab.akasha();
                }

                &.arbre {
                    .tab.arbre();
                }

                &.combat {
                    .tab.combat();
                }

                &.description {
                    .tab.description();
                }

                &.incarnations {
                    .tab.incarnations();
                }

                &.laboratoire {
                    .tab.laboratoire();
                }

                &.materiae {
                    .tab.materiae();
                }

                &.nephilim {
                    .tab.nephilim();
                }

                &.ordonnances {
                    .tab.ordonnances();
                }

                &.science {
                    .tab.science();
                }

                &.selenim {
                    .tab.selenim();
                }

                &.vecus {
                    .tab.vecus();
                }

            }

        }

    }

}