.chat-message {
    background: url("../../systems/neph5e/assets/backgrounds/parchemin 1.webp");
    font-family: 'AJensonProLtDisp';
    font-size: 15px;

    .message-header {
        position: relative;
        font-family: 'AJensonPro';
        font-size: 16px;

        .message-sender {
            margin-left: 55px;
            margin-top: 5px;
        }

        .message-metadata {
            flex: 2;
            text-align: right;
            font-size: 14px;
            margin-top: 5px
        }

    }

    .message-content {
        position: relative;
        margin-top: 5px;
        font-family: 'AJensonPro';
        font-size: 16px;

        .chat {
            display: flex;
            flex-direction: column;
            
            .chat-sender {
                position: relative;
                top: -30px;
                left: 0px;
                height: 50px;
                width: 50px;
                border: none;
            }

            .border-top {
                position: absolute;
                border-top: 2px solid rgba(0, 0, 0, 0.7);
                top: 0px;
                left: 56px;
                width: calc(100% - 59px);
            }

            .chat-purpose {
                position: relative;
                display: flex;
                flex-direction: row;
                top: -30px;
                align-items: center;
                margin: 0px 10px 10px 10px;

                .chat-sentence {
                    font-size: 17px;
                    text-align: center;
                    flex: 1;
                    background: transparent;

                    a {
                        background: none;
                        border: none;
                        white-space: normal;
                        word-break: normal;
                        font-size: 17px;
                    }

                }

                .chat-receiver {
                    width: 50px;
                    border: none;
                    border-radius: 13px;
                    margin-left: 15px;
                }

            }
    
            .chat-roll {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: -40px 10px 10px 0px;

                .fa-dice-d20 {
                    margin-right: 5px;
                }

                .fa-heart-broken {
                    margin-left: 30px;
                }

            }

            .chat-result {
                margin: 0px 10px 10px 0px;
                text-align: center;
            }




            .chat-body.opposition {
                margin-top: 20px;
            }
    
            .chat-body {
                display: flex;
                flex-direction: row;
                font-size: 18px;
                text-align: center;
                width: 100%;
                margin: 0px 10px 0px 10px;
    
                .chat-image {
                    height: 50px;
                    width: 50px;
                    border: none;
                    flex: 0 0 auto;
                    border-radius: 4px;
                    margin-left: 15px;
                    margin-right: 15px;
                }
    
                .chat-dice-result {
                    width: 100%;
                    padding-top: 15px;
                }
    
                .fa-dice-d20 {
                    margin-right: 5px;
                }
    
                .fa-heart-broken {
                    margin-left: 30px;
                }
    
                .fa-heart-broken.opposition {
                    margin-left: 30px;
                    margin-right: 5px;
                }
    
                .chat-description {
                    font-style: bold;
                }
    
                .chat-details {
                    font-size: 11px;
                    font-style: italic;
                }
    
                .fa-right.opposition {
                    margin-right: 5px;
                }
    
                .fa-shield.opposition {
                    margin-left: 30px;
                    margin-right: 5px
                }
    
            }
    
            .effects {
                text-align: center;
                margin-bottom: 20px;
            }

        }

    }

}

.roll-before {
    border: 3px solid rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    .image {
        width: 30%;
        height: auto;
    }

    .title {
        background-color: lightcoral;
        text-align: center;
    }

}