.chat-message {
    --background-side-chat: url("../../systems/neph5e/assets/backgrounds/background-side-chat.webp");
    background: url("../../systems/neph5e/assets/backgrounds/parchemin 1.webp");
    font-family: 'AJensonProLtDisp';
    font-size: 15px;

    .message-header {
        position: relative;
        font-family: 'AJensonPro';
        font-size: 16px;

        .message-sender {
            margin-left: 70px;
            margin-top: 5px;
        }

        .message-metadata {
            flex: 2;
            text-align: right;
            font-size: 14px;
            margin-top: 5px
        }

    }

    .message-content {
        position: relative;
        margin-top: 5px;
        font-family: 'AJensonPro';
        font-size: 15px;

        .chat {
            display: flex;
            flex-direction: row;

            .side-background {
                position: absolute;
                background: url(../../systems/neph5e/assets/backgrounds/background-side-chat.webp);
                background-size: cover;
                opacity: 0.8;
                width: 65px;
                height: calc(100% + 40px);
                top: -35px;
                left: -5px;
            }

            .border-top {
                position: absolute;
                border-top: 2px solid rgba(0, 0, 0, 0.7);
                left: 60px;
                width: calc(100% - 60px);
                top: -4px;
            }

            .side {
                width: 85px;         

                .chat-sender {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border: none;
                    top: -30px;
                }

                .chat-receiver {
                    position: absolute;
                    width: 45px;
                    bottom: 0px;
                    left: 5px;
                    border: none;
                    border-radius: 6px;
                }

            }

            .content {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 100%;

                .chat-sentence {
                    font-size: 15px;
                    margin: 10px 10px 10px 10px;

                    a {
                        background: none;
                        border: none;
                        white-space: normal;
                        word-break: normal;
                    }

                }

                .chat-details {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: 10px 10px 10px 10px;

                    .fa-dice-d20 {
                        margin-right: 5px;
                    }
    
                    .fa-heart-broken {
                        margin-left: 30px;
                    }

                    .fa-shield {
                        margin-left: 30px;
                    }

                    .fa-crosshairs {
                        margin-right: 5px;
                    }

                    .fa-spinner {
                        margin-right: 5px;
                    }

                }
    
                .chat-result {
                    margin: 10px 10px 10px 10px;
                    text-align: center;
                }

                .chat-extra {
                    margin: 10px 10px 10px 10px;
                    text-align: center;
                }

            }

        }

    }

}

.roll-before {
    border: 3px solid rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    .image {
        width: 30%;
        height: auto;
    }

    .title {
        background-color: lightcoral;
        text-align: center;
    }

}