.action {
    --box-shadow: 0 0 4px 1px #414048 inset;
    --color-shadow-primary: #151156;
    --color-widget-background: none;
    --color-widget: #191813;
    
    display: flex;
    flex-direction: column;

    select {
        flex: 0 0 auto;
        outline: 0px;
        background-color: transparent;
        margin-top: 4px;
        padding-left: 10px;
        padding-right: 10px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-align-last: center;
        align-items: center;
        color: #191813;
        border: 1px solid #151156;
        border-radius: 10px;
        box-shadow: var(--box-shadow);

        option {
            text-align: center;
        }

        &:hover {
            text-shadow: 0px 0px 1px #191813;
        }

    }

    input {
        flex: 0 0 auto;
        outline: 0px;
        background-color: transparent;
        margin-top: 4px;
        padding-left: 10px;
        padding-right: 10px;
        text-align-last: center;
        align-items: center;
        color: #191813;
        border: 1px solid #151156;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: url("../../systems/neph5e/assets/backgrounds/p.webp");
        background-size: cover;
        color: #f5f4f4;
        box-shadow: 0 0 6px 2px #f5f4f4 inset;

        .actor {
            margin: 10px;
            height: 50px;
            width: 50px;
            border: none;
            flex: 0;
        }

        .sentence {
            font-size: 16px;
            font-style: bold;
            text-align: center;
            flex: 1;
            font-family: 'NightjarDemi';
        }

        .target {
            margin: 10px;
            height: 50px;
            width: 50px;
            border: none;
            flex: 0;
            border-radius: 4px;
        }

    }

    .body {
        background: url("../../systems/neph5e/assets/backgrounds/parchemin 3.webp");
        background-size: cover;
        color: #191813;

        .roll {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            font-size: 15px;

            .parameters {
                display: flex;
                flex-direction: row;
                width: 420px;
                justify-content: space-evenly;

                .type {
                    display: flex;
                    flex-direction: row;

                    label {
                        flex: 0 0 auto;
                        margin-left: 67px;
                        margin-right: 5px;
                        padding-top: 5px;
                    }

                }

                #element {
                    flex: 0 0 auto;
                    border: none;
                    outline: 0px;
                    background-color: transparent;
                    width: 40px;
                }

            }

            .dice {
                flex: 0 0 auto;
                border: none;
                flex: 0 0 auto;
                padding: 7px 0px 0px 0px;
                width: 80px;

                label {
                    padding-left: 17px;
                }

            }

        }

        .lines {
            display: flex;
            flex-direction: column;
            margin: 10px 10px 10px 10px;

            .line {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 35px;
                width: 100%;
                

                &:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.2);
                }

                &:nth-child(1) {
                    border-top: 2px solid #151156;
                }

                .line-title {
                    display: flex;
                    flex-direction: row;
                    width: 90%;

                    label {
                        padding-left: 2px;
                    }

                    .slider {
                        height:11px;
                        width: 160px;
                        margin-left: 20px;
                    }

                }

                .line-value {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 100%;

                    #modifier {
                        text-align: right;
                        width: 40px;
                    }

                }


                    /*
                    #approche, #blessures, #metamorphe, #fraternite {
                        margin-left: 10px;
                    }
                    */


                    /*
                    .slider {
                        display: flex;
                        flex-direction: row;

                        input {
                            margin-right: 20px;
                        }

                        label {
                            width: 40px;
                        }

                    }
                    */

                /*
                .base-name {
                    width: 65%;
                    text-align: left;
                    padding-left: 20px;
                }

                .modifier {
                    width: 65%;
                    text-align: left;
                    padding-left: 20px;
                }

                .value {
                    width: 27%;
                    text-align: right;
                    flex: 0 0 auto;
                }

                .percentage {
                    width: 10%;
                    text-align: left;
                    flex: 0 0 auto;
                    padding-top: 5px; 
                    flex: 0 0 auto;
                    width: auto;
                }
                */

            }

        }

    }

}

.mnemos {

    .article {

        .id {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;  
        }

        .name {
            display: flex;
            flex-direction: row;
            height: 60px;

            input {
                font-size: 25px;
                text-align: center;
                margin-bottom: 10px;
                height: 100%;
                width: 100%;
                font-family: Calibri;
            }

            img {
                flex: 0 0 auto;
                margin-left: 10px
            }

        }

        .desc {
            border-width: 2px;
            margin-top: 10px
        }

    }

}