.ephemeride {

    table {

        tr {

            td {
                font-family: 'AJensonPro';
                text-align: center
            }

        }

        td {

            td {
                font-family: 'AJensonPro';
                text-align: center
            }

            td:first-child {
                background-color: #32a852;
            }
            
            td:nth-child(2) {
                background-color: #aaaaaa;
            }

        }

    }

}