#interface {

    #ui-left {

        #controls {

            ol.control-tools {

                li {
                    width: 40px;
                    height: 40px;
                    color: #6b6a66;
                    border-radius: 22px;
                    background: url("../../systems/neph5e/assets/backgrounds/parchemin 3.webp");

                    &.active {
                        color: #191813;
                    }

                    &:hover {
                        -webkit-box-shadow: 0 0 5px 5px #bebdbd;
                        -moz-box-shadow: 0 0 5px 5px #bebdbd;
                        box-shadow: 0 0 5px 5px #bebdbd;
                    }

                    i {
                        margin-top: 8px;
                    }

                }

            }

        }

    }

}