@font-face {
    font-family: "AJensonPro";
    src: url("../../systems/neph5e/assets/fonts/AJensonPro-Regular.otf");
}
@font-face {
    font-family: "AJensonProLtDisp";
    src: url("../../systems/neph5e/assets/fonts/AJensonPro-LtDisp.otf");
}
@font-face {
    font-family: "MinionPro";
    src: url("../../systems/neph5e/assets/fonts/MinionPro-Regular.otf");
}
@font-face {
    font-family: "Nightjar";
    src: url("../../systems/neph5e/assets/fonts/T-26 - Nightjar Regular.ttf");
}
@font-face {
    font-family: "NightjarDemi";
    src: url("../../systems/neph5e/assets/fonts/T-26 - Nightjar Demi.ttf");
}

.mixin-editing-content {
    background: linear-gradient(rgba(0, 26, 77, .5), rgba(0, 26, 77, .5)), var(--background-article-bright);
    border-radius: 5px;
    color: var(--color-font-bright);
}

.mixin-editing-bright-on-dark {
    background: var(--background-article-dark);
    color: var(--color-font-bright);
}

.mixin-editing-dark-on-bright {
    background: var(--background-article-bright);
    color: var(--color-font-dark);
}

.mixin-editing-dark-on-inherit {
    background: inherit;
    color: var(--color-font-dark);
}

.expanse {
    height: 100%;
    width: 100%;
}

form.nephilim {
    --background-article-bright: url("../../systems/neph5e/assets/skins/soleil/background.webp");
    --background-article-dark: url("../../systems/neph5e/assets/backgrounds/p.webp");
    --background-side-appel: url("../../systems/neph5e/assets/core/side-appel.webp");
    --background-side-arcane: url("../../systems/neph5e/assets/core/side-arcane.webp");
    --background-side-arme: url("../../systems/neph5e/assets/core/side-arme.webp");
    --background-side-armure: url("../../systems/neph5e/assets/core/side-armure.webp");
    --background-side-aspect: url("../../systems/neph5e/assets/core/side-aspect.webp");
    --background-side-capacite: url("../../systems/neph5e/assets/core/side-capacite.webp");
    --background-side-catalyseur: url("../../systems/neph5e/assets/core/side-catalyseur.webp");
    --background-side-chute: url("../../systems/neph5e/assets/core/side-chute.webp");
    --background-side-competence: url("../../systems/neph5e/assets/core/side-competence.webp");
    --background-side-invocation: url("../../systems/neph5e/assets/core/side-invocation.webp");
    --background-side-materiae: url("../../systems/neph5e/assets/core/side-materiae.webp");
    --background-side-metamorphe: url("../../systems/neph5e/assets/core/side-metamorphe.webp");
    --background-side-passe: url("../../systems/neph5e/assets/core/side-passe.webp");
    --background-side-periode: url("../../systems/neph5e/assets/core/side-periode.webp");
    --background-side-quete: url("../../systems/neph5e/assets/core/side-quete.webp");
    --background-side-rite: url("../../systems/neph5e/assets/core/side-rite.webp");
    --background-side-savoir: url("../../systems/neph5e/assets/core/side-savoir.webp");
    --background-side-sort: url("../../systems/neph5e/assets/core/side-sort.webp");
    --background-side-vecu: url("../../systems/neph5e/assets/core/side-vecu.webp");
    --background-side-formule: url("../../systems/neph5e/assets/core/side-formule.webp");
    --background-side-invocation: url("../../systems/neph5e/assets/core/side-invocation.webp");
    --background-side-technique: url("../../systems/neph5e/assets/core/side-technique.webp");
    --color-font-bright: #f5f4f4;
    --color-font-dark: #191813;
    --color-scrollbar: #2f3557;
    --font-family-title: 'AJensonPro';
    --font-family-content: 'NightjarDemi';

    section.window-content {
        flex-flow: unset;
        padding: 0px;
    }

    prose-mirror {
        position: sticky;
        top: 0;
        height: 100%;

        .editor-content {
            .mixin-editing-content();
            padding: 10px;
        }

        menu {
            .mixin-editing-bright-on-dark();
        }

    }

    .checkbox {
        .mixin-editing-content();

        &.locked {
            background: none;
            color: var(--color-font-dark);
        }

        input {
            display: none;
        }

        label {
            width: 18px;
            height: 18px;
            border: 2px solid #000;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
        }

        input:checked + label {
            background: #000;
        }

    }

}