<li class="item-list-header">

    <div class="item-name">
        <span>{{cercle}}</span>
    </div>

    <div class="item-checkbox">
        <span>Focus</span>
    </div>

    <div class="item-checkbox">
        <span>Appris</span>
    </div>

    <div class="item-checkbox">
        <span>Tatoué</span>
    </div>

    <div class="item-control">
        <span/>
    </div>

    <div class="item-control">
        <span/>
    </div>

    <div class="item-control">
        <span/>
    </div>

</li>