{{#with (cercles actor "conjuration") as |cercles|}}
{{#if cercles.display}}  
<ol class="cercles">

    {{#with cercles.charmeur as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/conjuration/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/conjuration/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.dresseur as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/conjuration/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/conjuration/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.demiurge as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/conjuration/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/conjuration/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}