<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <img class="picture" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="title">

            <span class="type">{{localize "ITEM.TypeArcane"}}</span>

            <input class="name" name="name" type="text" value="{{item.name}}"/>

            <br>

            <input
                name="data.id"
                type="text"
                value="{{data.id}}"
                data-dtype="String"/>

        </div>

    </header>

    {{!-- Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">

        <a class="sheet-navigation-tab active" data-tab="description">{{localize "NEPH5E.description"}}</a>

    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="part-header">
            <div class="part-name">
                <span>{{localize "NEPH5E.description"}}</span>
            </div>
        </div>

        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

    </section>

</form>