<form class="{{cssClass}}" autocomplete="off">

    <div class="tbd" style="display: flex; flex-direction: row;">

        <div style="margin: 10px;">
            <img src="systems/neph5e/assets/side-arme.webp" title="{{localize 'ITEM.TypeArme'}}"/>
        </div>

        <div style="display: flex; flex-direction: column; margin: 10px; flex-basis: 100%; ">

            {{> "systems/neph5e/templates/item/parts/header/header.hbs"}}

            <div style="margin-top: 10px; display: flex; flex-direction: row; column-count: 3; justify-content: space-between;">

                {{> "systems/neph5e/templates/item/parts/header/select.hbs" title="NEPH5E.arme" collection=skills name="data.skill" value=data.skill}}

                {{> "systems/neph5e/templates/item/parts/header/input.hbs" title="NEPH5E.dommages" name="data.damages" value=data.damages type="Number"}}

                {{> "systems/neph5e/templates/item/parts/header/input.hbs" title="NEPH5E.attaque" name="data.attack" value=data.attack type="Number"}}

            </div>

            <hr>

            {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.magique" name="data.magique" value=data.magique type="Boolean"}}

            {{#if (isMelee data.skill)}}

                {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.defense" name="data.defense" value=data.defense type="Number"}}

                {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.blocage" name="data.blocage" value=data.blocage type="Boolean"}}

            {{else}}

                {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.munitions" name="data.ranged.ammunition" value=data.ranged.ammunition type="String"}}

                {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.chargeur" name="data.ranged.munitions" value=data.ranged.munitions type="Number"}}

                {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.penetration" name="data.ranged.perce" value=data.ranged.perce type="Number"}}

                {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.vitesse" name="data.ranged.vitesse" value=data.ranged.vitesse type="Number"}}

                <div style="display: flex; flex-direction: row; height: 26px; vertical-align: middle;">

                    {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.tirer" name="data.ranged.actions.tirer" value=data.ranged.actions.tirer type="Boolean"}}

                    {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.salve" name="data.ranged.actions.salve" value=data.ranged.actions.salve type="Boolean"}}

                    {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.rafale" name="data.ranged.actions.rafale" value=data.ranged.actions.rafale type="Boolean"}}

                </div>

            {{/if}}

            {{> "systems/neph5e/templates/item/parts/body/description.hbs"}}

        </div>

    </div>

</form>