<form class="{{cssClass}}" autocomplete="off">

    <div class="tbd" style="display: flex; flex-direction: row;">
    
        <div style="margin: 10px;">
            <img src="systems/neph5e/assets/side-armure.webp" title="{{localize 'ITEM.TypeArmure'}}"/>
        </div>

        <div style="display: flex; flex-direction: column; margin: 10px; flex-basis: 100%; ">

            {{> "systems/neph5e/templates/item/parts/header/header.hbs"}}

            <div style="margin-top: 10px; display: flex; flex-direction: row; column-count: 4; justify-content: space-between;">

                {{> "systems/neph5e/templates/item/parts/header/input.hbs" title="NEPH5E.melee" name="data.contact" value=data.contact type="Number"}}

                {{> "systems/neph5e/templates/item/parts/header/input.hbs" title="NEPH5E.trait" name="data.trait" value=data.trait type="Number"}}

                {{> "systems/neph5e/templates/item/parts/header/input.hbs" title="NEPH5E.afeu" name="data.feu" value=data.feu type="Number"}}

                {{> "systems/neph5e/templates/item/parts/header/input.hbs" title="NEPH5E.magique" name="data.magique" value=data.magique type="Number"}}

            </div>

            <hr>

            {{> "systems/neph5e/templates/item/parts/body/input.hbs" title="NEPH5E.blocage" name="data.bouclier" value=data.bouclier type="Boolean"}}

            {{> "systems/neph5e/templates/item/parts/body/description.hbs"}}

        </div>

    </div>

</form>