<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <input
            name="data.id"
            type="hidden"
            value="{{data.id}}"
            data-dtype="String"/>

        <img class="picture" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="title">
            <span class="type">{{localize "ITEM.TypePasse"}}</span>
            <input class="name" name="name" type="text" value="{{item.name}}"/>
        </div>

    </header>

    {{!-- Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">

        <a class="sheet-navigation-tab active " data-tab="description">{{localize "NEPH5E.description"}}</a>

    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>

</form>