<form class="{{cssClass}}" autocomplete="off">

    <div class="tbd" style="display: flex; flex-direction: row;">
    
        <div style="margin: 10px;">
            <img src="systems/neph5e/assets/side-periode.webp" title="{{localize 'ITEM.TypePeriode'}}"/>
        </div>

        <div style="display: flex; flex-direction: column; margin: 10px; flex-basis: 100%; ">

            {{#if debug}}
            <div style="width: 100%; text-align: center; margin-bottom: 10px;">
                <input
                    name="data.id"
                    type="text"
                    value="{{data.id}}"
                    data-dtype="String"/>
            </div>
            {{else}}
            <input
                name="data.id"
                type="hidden"
                value="{{data.id}}"
                data-dtype="String"/>
            {{/if}}

            <div style="display: flex; flex-direction: row; height: 60px;">

                <input name="name" type="text" value="{{item.name}}" style="font-size: 25px; text-align: center; margin-bottom: 10px; height: 100%; width: 100%; font-family: Calibri;"/>

                <img src="{{item.img}}" title="{{item.name}}" data-edit="img" style="flex: 0 0 auto; margin-left: 10px"/>
  
            </div>

            <div style="display: flex; flex-direction: row; margin-top: 10px;">

                <div class="edit-contexte" style="width: 100%; text-align: center; margin-bottom: 10px;">
                    <input
                        style="border: 0; background: transparent; vertical-align: middle; font-family: Calibri; font-style: italic; font-size: 20px;"
                        name="data.contexte"
                        type="text"
                        value="{{data.contexte}}"
                        data-dtype="String"/>
                </div>

                <div style="flex: 0 0 auto; vertical-align: middle; margin-left: 10px; width: 60px; text-align: center;">
                    <input
                        style="border: 0; background: transparent;"
                        name="data.aube"
                        type="text"
                        value="{{data.aube}}"
                        data-dtype="Number"/>
                </div>

            </div>

            <ol style="column-count: 2;">

                {{#each vecus as |vecu|}}
                <li class="item hoverable" data-item-id="{{vecu}}" style="display: flex; flex-direction: row;">

                    <div style="margin-right: 10px;" >
                        <a><i class="delete-vecu fas fa-trash"></i></a>
                    </div>

                    {{#with (getItem vecu)}}
                    <div class="edit-vecu">
                        <span data-item-id="{{vecu}}">{{name}}</span>
                    </div>
                    {{/with}}

                </li>
                {{/each}}

            </ol>

            <div style="border-width: 2px; margin-top: 10px">
                {{#if (isEmptyString data.description)}}
                <div style="display: flex; flex-direction: row;">
                    <div style="margin-right: 10px;" >
                        <a><i class="fas fa-plus"></i></a>
                    </div>
                    <span>{{localize 'NEPH5E.description'}}</span>
                </div>
                {{/if}}
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>

        </div>

    </div>

</form>