<form class="{{cssClass}}" autocomplete="off">

    <div style="display: flex; flex-direction: row;">
    
        <div style="margin: 10px;">
            <img src="systems/neph5e/assets/side-quete.webp" title="{{localize 'ITEM.TypeQuete'}}"/>
        </div>

        <div style="display: flex; flex-direction: column; margin: 10px; flex-basis: 100%;">

            {{#if debug}}
            <div style="width: 100%; text-align: center; margin-bottom: 10px;">
                <input
                    name="data.id"
                    type="text"
                    value="{{data.id}}"
                    data-dtype="String"/>
            </div>
            {{else}}
            <input
                name="data.id"
                type="hidden"
                value="{{data.id}}"
                data-dtype="String"/>
            {{/if}}

            <div style="display: flex; flex-direction: row; height: 60px;">

                <input name="name" type="text" value="{{item.name}}" style="font-size: 25px; text-align: center; margin-bottom: 10px; height: 100%; width: 100%; font-family: Calibri;"/>

                <img src="{{item.img}}" title="{{item.name}}" data-edit="img" style="flex: 0 0 auto; margin-left: 10px"/>
  
            </div>

            <div style="border-width: 2px; margin-top: 10px">
                {{#if (isEmptyString data.description)}}
                <span>{{localize 'NEPH5E.ajouterDescription'}}</span>
                {{/if}}
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>

        </div>

    </div>

</form>