<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <img class="picture" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="title">

            <span class="type">{{localize "NEPH5E.magie.nom"}}</span>

            <input class="name" name="name" type="text" value="{{item.name}}"/>

            <br>

            <input
                name="data.id"
                type="text"
                value="{{data.id}}"
                data-dtype="String"/>

        </div>

    </header>

    {{!-- Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">

        <a class="sheet-navigation-tab active" data-tab="description">{{localize "NEPH5E.description"}}</a>

    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab description" data-group="primary" data-tab="description">

            <div class="header sort">

                <div class="property">
                    <label class="property-name">{{localize "NEPH5E.cercle"}}</label>
                    <select class="property-value" name="data.cercle">
                    {{#select data.cercle}}
                        {{#each cercles as |name label|}}
                        <option value="{{label}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                </div>

                <div class="property">
                    <label class="property-name">{{localize "NEPH5E.element"}}</label>
                    <select class="property-value" name="data.element">
                    {{#select data.element}}
                        {{#each elements as |name label|}}
                        <option value="{{label}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                </div>

                <div class="property">
                    <label class="property-name">{{localize "NEPH5E.degre"}}</label>
                    <input
                        class="property-value"
                        name="data.degre"
                        type="text"
                        value="{{data.degre}}"
                        data-dtype="Number"/>
                </div>

            </div>

            <div class="property-list">

                <div class="property">
                    <label class="property-name">{{localize "NEPH5E.portee"}}</label>
                    <input
                        class="property-value"
                        name="data.portee"
                        type="text"
                        value="{{data.portee}}"
                        data-dtype="String"
                    />
                </div>

                <div class="property">
                    <label class="property-name">{{localize "NEPH5E.duree"}}</label>
                    <input
                        class="property-value"
                        name="data.duree"
                        type="text"
                        value="{{data.duree}}"
                        data-dtype="String"
                    />
                </div>

            </div>

            {{#if (eq data.cercle "hauteMagie")}}
            <ol class="item-list">

                <li class="item-list-header">

                    <div class="item-name">
                        <span>{{localize "ITEM.TypeMagie"}}</span>
                    </div>
                
                    <div class="item-control">
                        <span/>
                    </div>
                
                </li>

                {{#each data.voies as |voie|}}
                <li class="item" data-item-id="{{voie.refid}}">

                    <input
                        name="data.voies.[{{@index}}].refid"
                        type="hidden"
                        value="{{voie.refid}}"
                        data-dtype="String"/>
                
                    {{#with (getItem voie.refid)}}
                    <div class="item-name">
                        <span data-item-id="{{voie.refid}}">{{name}}</span>
                    </div>
                    {{/with}}

                    <div class="item-control">
                        <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>

                {{/each}}
                </li>

            </ol>
            {{/if}}

            <div class="part-header">
                <div class="part-name">
                    <span>{{localize "NEPH5E.effet"}}</span>
                </div>
            </div>

            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

        </div>

    </section>
        
</form>