<form class="{{cssClass}}" autocomplete="off">

    <div class="tbd" style="display: flex; flex-direction: row;">
    
        <div style="margin: 10px;">
            <img src="systems/neph5e/assets/side-vecu.webp" title="{{localize 'ITEM.TypeVecu'}}"/>
        </div>

        <div style="display: flex; flex-direction: column; margin: 10px; flex-basis: 100%; ">

            {{#if debug}}
            <div style="width: 100%; text-align: center; margin-bottom: 10px;">
                <input
                    name="data.id"
                    type="text"
                    value="{{data.id}}"
                    data-dtype="String"/>
            </div>
            {{else}}
            <input
                name="data.id"
                type="hidden"
                value="{{data.id}}"
                data-dtype="String"/>
            {{/if}}

            <div style="display: flex; flex-direction: row; height: 60px;">

                <input name="name" type="text" value="{{item.name}}" style="font-size: 25px; text-align: center; margin-bottom: 10px; height: 100%; width: 100%; font-family: Calibri;"/>

                <img src="{{item.img}}" title="{{item.name}}" data-edit="img" style="flex: 0 0 auto; margin-left: 10px"/>
  
            </div>

            <div style="display: flex; flex-direction: row; margin-top: 10px;">

                <div class="hoverable edit-periode" style="width: 100%; text-align: center; margin-bottom: 10px;">
                    {{#with (getItem data.periode)}}
                    <span style="margin-top: 15px; margin-left: 10px; vertical-align: middle; width: 100%; font-family: Calibri; font-style: italic; font-size: 20px; text-align: center;">{{name}}</span>
                    {{/with}}
                </div>

                <div style="flex: 0 0 auto; vertical-align: middle; margin-left: 10px;">
                    <select name="data.element">
                    {{#select data.element}}
                        {{#each elements as |name label|}}
                        <option value="{{label}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                </div>

            </div>

            <ol style="column-count: 2;">

                {{#each data.competences as |competence|}}
                <li class="item" data-item-id="{{competence.refid}}" style="display: flex; flex-direction: row;">

                    <input
                        name="data.competences.[{{@index}}].refid"
                        type="hidden"
                        value="{{competence.refid}}"
                        data-dtype="String"/>

                    <div style="margin-right: 10px;" >
                        <a><i class="delete-competence fas fa-trash"></i></a>
                    </div>

                    {{#with (getItem competence.refid)}}
                    <div class="edit-competence">
                        <span class="hoverable" data-item-id="{{competence.refid}}">{{name}}</span>
                    </div>
                    {{/with}}

                </li>
                {{/each}}

            </ol>

            {{#if item.isEmbedded}}
            <ol style="margin-top: 10px;">

                {{#each data.mnemos as |mnemos|}}
                <li class="item" data-item-id="{{@index}}" style="display: flex; flex-direction: row;">

                    <div style="margin-right: 10px;" >
                        <a><i class="delete-mnemos fas fa-trash"></i></a>
                    </div>

                    <input
                        style="border: 0; background: transparent;"
                        name="data.mnemos.[{{@index}}]"
                        type="text"
                        value="{{mnemos}}"
                        data-dtype="String"/>

                </li>
                {{/each}}

                <li style="display: flex; flex-direction: row;">
                    <div style="margin-right: 10px;" >
                        <a><i class="add-mnemos fas fa-plus"></i></a>
                    </div>
                    <span>{{localize 'NEPH5E.mnemos'}}</span>
                </li>

            </ol>
            {{/if}}

            {{#if item.isEmbedded}}
            <table style="margin-top: 10px;">
                <tr>
                    <th>{{localize 'NEPH5E.degre'}}</th>
                    <th>{{localize 'NEPH5E.sapience'}}</th>
                </tr>
                <tr>
                    <td style="text-align: center; font-weight: bold;">{{data.degre}}</td>
                    <td style="text-align: center; font-weight: bold;">{{getNextCost data.degre}}</td>
                </tr>
            </table>
            {{/if}}

            <div style="border-width: 2px; margin-top: 10px">
                {{#if (isEmptyString data.description)}}
                <div style="display: flex; flex-direction: row;">
                    <div style="margin-right: 10px;" >
                        <a><i class="fas fa-plus"></i></a>
                    </div>
                    <span>{{localize 'NEPH5E.description'}}</span>
                </div>
                {{/if}}
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>

        </div>

    </div>

</form>