<div style="display:flex;flex-direction:row;padding-top:20px;">

    <div style="display:flex;flex-direction:column;width:500px;">

        {{> "systems/neph5e/feature/selenim/actor/noyau.hbs"}}

    </div>

    <div style="display:flex;flex-direction:column;width:50%;margin-left:20px">

        {{> "systems/neph5e/feature/selenim/actor/aspect.hbs"}}

        {{> "systems/neph5e/feature/selenim/actor/attributs.hbs"}}

    </div>

</div>