<div class="content">

    <div class="left">

        {{> "systems/neph5e/feature/selenim/actor/noyau.hbs"}}

    </div>

    <div class="right">

        {{> "systems/neph5e/feature/selenim/actor/aspect.hbs"}}

        {{> "systems/neph5e/feature/selenim/actor/attributs.hbs"}}

    </div>

</div>