<div style="border-width: 2px;">
{{#if (nonNull difficulty)}}
    {{html system.description}}
{{else}}
    {{#if (isEmptyString system.description)}}
    <div style="margin-top: 50px; color:indianred;font-weight:bold; text-align:center;">
        <i class="fa-solid fa-circle-plus fa-2xl"></i>
        <span style="margin-left:10px;margin-right:20px">{{localize 'NEPH5E.ajouterDescription'}}</span>
    </div>
    {{/if}}
    <div class="no-scrollbar" style="margin-top: 10px">
    {{editor (enrichHTML system.description owner) target="system.description" button=true owner=owner editable=editable}}
    </div>
{{/if}}
</div>