<div style="border-width: 2px;">
{{#if (nonNull difficulty)}}
    {{html system.description}}
{{else}}
    {{#if (isEmptyString system.description)}}
    <div style="display: flex; flex-direction: row; margin-top: 10px;">
        <div style="margin-right: 10px;" >
            <a><i class="fas fa-plus"></i></a>
        </div>
        <span>{{localize 'NEPH5E.description'}}</span>
    </div>
    {{/if}}
    <div class="no-scrollbar">
    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
{{/if}}
</div>