<div style="border-width: 2px;">
{{#if (defined difficulty)}}
    {{html item.data.data.description}}
{{else}}
    {{#if (isEmptyString data.description)}}
    <div style="display: flex; flex-direction: row; margin-top: 10px;">
        <div style="margin-right: 10px;" >
            <a><i class="fas fa-plus"></i></a>
        </div>
        <span>{{localize 'NEPH5E.description'}}</span>
    </div>
    {{/if}}
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
{{/if}}
</div>