{{#if (nonNull difficulty)}}
<div style="display: flex; flex-direction: row; height: 26px; font-family:'AJensonPro'">
    <span style="font-weight: bold; padding-top: 4px;">{{localize "NEPH5E.difficulte"}} : </span><span style="margin-left:5px; padding-top: 4px;">{{difficulty}}0%</span>
</div>
{{/if}}