<div style="display: flex; flex-direction: row; height: 26px; vertical-align: middle;">

    <span style="flex: 0 0 auto; font-weight: bold;margin-right:5px;">{{localize title}} : </span>

    {{#with (getItem id)}}
    <span>{{name}}</span>
    {{/with}}

</div>
