<div style="position: relative; text-align: center;">

    <img src="systems/neph5e/assets/core/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

</div>

{{> "systems/neph5e/feature/periode/actor/competences.hbs" }}

{{> "systems/neph5e/feature/periode/actor/savoirs.hbs" }}

{{> "systems/neph5e/feature/periode/actor/quetes.hbs" }}

{{> "systems/neph5e/feature/periode/actor/chutes.hbs" }}

{{> "systems/neph5e/feature/periode/actor/passes.hbs" }}